$color: red, two, three;
/* line 4, variables.scss */
div {
height: $color;
}
$a: 1000;
/* line 10, variables.scss */
div {
$a: 2000 !default;
num: $a;
}
/* line 15, variables.scss */
div {
$b: 2000 !default;
num: $b;
}
$cool_color: null;
$cool_color: blue !default;
/* line 23, variables.scss */
pre {
color: $cool_color;
}
$something_man: 100px;
cool: $something_man;
/* line 31, variables.scss */
del {
$something: blue;
/* line 34, variables.scss */
div {
$something: red;
/* line 36, variables.scss */
pre {
color: $something;
}
}
color: $something;
}
$font-family-simple: Arial !default;
$font-family-spaces: Helvetica Neue !default;
$font-family-quotes: "Helvetica Neue" !default;
$font-family-commas: Helvetica, Arial, sans-serif !default;
$font-family-sans:      "Helvetica Neue", Helvetica, Arial, sans-serif !default;
/* line 50, variables.scss */
body {
font-family: $font-family-simple;
font-family: $font-family-spaces;
font-family: $font-family-quotes;
font-family: $font-family-commas;
font-family: $font-family-sans;
}