/* line 2, inputs/builtins.scss */
#color {
  color: #22ea18;
  red: 34;
  green: 234;
  blue: 24;
  color: rgba(1, 2, 4, 0.5);
  a1: 1;
  a2: 0.5;
  mix: #020304;
  rgba: rgba(170, 119, 204, 0.4);
  rgba: rgba(170, 119, 204, 0.4);
  green: 139; }
/* line 21, inputs/builtins.scss */
#hsl {
  color: #79c653;
  color: rgba(121, 198, 83, 0.5);
  hue: 100deg;
  sat: 50%;
  lig: 55%; }
/* line 30, inputs/builtins.scss */
#more-color {
  light: #7e3d9e;
  dark: #432154;
  sat: #632782;
  desat: #5e3871;
  gray: #545454;
  comp: #48792f;
  inv: #9fd086; }
/* line 44, inputs/builtins.scss */
#more-more-color {
  op: 0.5;
  opacify: rgba(1, 2, 3, 0.6);
  opacify: rgba(1, 2, 3, 0.6);
  transparentize: rgba(1, 2, 3, 0.4);
  transparentize: rgba(1, 2, 3, 0.4);
  transparentize: rgba(52, 130, 3, 0.9); }
/* line 56, inputs/builtins.scss */
#more-more-more-color {
  color: rgba(65, 110, 79, 0.4);
  color: rgba(20, 255, 216, 0);
  color: rgba(55, 100, 69, 0.4);
  color: rgba(0, 255, 213, 0);
  color: rgba(145, 10, 10, 0);
  color: rgba(5, 10, 10, 0);
  color: rgba(145, 145, 145, 0);
  color: rgba(5, 5, 5, 0);
  color: #000A0A0A;
  color: #FFAABBCC; }
/* line 74, inputs/builtins.scss */
#string {
  color: hello what is going on;
  color: "yeah";
  color: "I do?";
  color: 2;
  color: sinserttring;
  color: 6;
  color: tri;
  color: 'string';
  color: STRING; }
/* line 87, inputs/builtins.scss */
#number {
  color: 250%;
  color: 3;
  color: 3;
  color: 4;
  top: 10px;
  top: 1ex;
  width: 200%;
  bottom: 10px;
  padding: 3em 1in 96px 72pt; }
/* line 100, inputs/builtins.scss */
#list {
  len: 3;
  len: 1;
  n: hello;
  hello: one, two, three, hello;
  hello: one, two, three, hello, world, what, is, going;
  hello: one, two, three, hello;
  index: 2;
  index: 3;
  index: 1;
  index: 1;
  index: 2;
  index: 2;
  index: 1;
  world: one, two, three, great, job;
  world: one, two, three, great job;
  cool: one two three great job;
  cool: great job one two three;
  zip: 1px solid, 2px dashed;
  zip: 1px solid red, 2px dashed green; }
/* line 135, inputs/builtins.scss */
#introspection {
  t: number;
  t: string;
  t: string;
  t: bool;
  t: color;
  t: color;
  t: list;
  u: "";
  u: "px";
  u: "em";
  l: true;
  l: false;
  c: true;
  c: false;
  c: true;
  c: true;
  c: false;
  c: true; }
/* line 159, inputs/builtins.scss */
#if {
  color: yes;
  color: no;
  color: yes;
  color: yes; }
/* line 166, inputs/builtins.scss */
.transparent {
  r: 0;
  g: 0;
  b: 0;
  a: 0; }
/* line 173, inputs/builtins.scss */
.alpha {
  a: 1;
  a: 1;
  a: 1;
  a: 0.5;
  a: alpha(currentColor); }
/* line 182, inputs/builtins.scss */
#exists {
  a: true;
  b: true;
  c: false; }
