/* line 10, inputs/functions.scss */
div {
  color: 14px;
  sum: 23; }
/* line 33, inputs/functions.scss */
div {
  hello: 10 55;
  hello: 1010 55;
  hello: "hello 10 and 55"; }
/* line 44, inputs/functions.scss */
del {
  color: 1000; }
/* line 48, inputs/functions.scss */
div {
  hello: "hello foo and bar";
  hello: "hello bar and default";
  hello: "hello Alice, Bob, Tom"; }
/* line 61, inputs/functions.scss */
.foo {
  test2: -moz-art; }
/* line 77, inputs/functions.scss */
/* line 67, inputs/functions.scss */
  div span {
    height: 3px; }
/* line 87, inputs/functions.scss */
div {
  width: 2; }
/* line 95, inputs/functions.scss */
p {
  color: arglist; }
/* line 112, inputs/functions.scss */
.test {
  display: 'global';
  display: 'test-mixin';
  display: 'test-mixin';
  display: 'global'; }
/* line 118, inputs/functions.scss */
.test-inspect {
  n: null;
  b1: true;
  b2: false;
  n1: 0;
  s1: '';
  s2: 'hello';
  l1: 1 2;
  l2: 3 4;
  l3: 5, 6;
  l4: (a: 1, b: 2);
  l5: (a: 1, b: 2); }
