/* line 4, inputs/list.scss */
div {
  padding: 10px 20px 30px 40px;
  margin: 0 10px 10px 10px;
  background: linear-gradient(black, white); }
/* line 13, inputs/list.scss */
p {
  background: linear-gradient(red, blue); }
/* line 20, inputs/list.scss */
.bracket-list {
  background: linear-gradient(red, blue); }
/* line 24, inputs/list.scss */
div {
  x: 2;
  z: 2; }
/* line 31, inputs/list.scss */
div {
  a: 10px;
  b: -20px;
  c: 30px;
  d: 30px; }
/* line 38, inputs/list.scss */
div {
  x: space;
  y: comma;
  z: space; }
