@media {
/* line 4, inputs/media.scss */
div {
  color: blue; } }

@media what {
/* line 7, inputs/media.scss */
div {
  color: blue; } }

@media (cool) {
/* line 11, inputs/media.scss */
div {
  color: blue; } }

@media (cool: blue) {
/* line 14, inputs/media.scss */
div {
  color: blue; } }

@media hello and (world) and (butt: man) {
/* line 18, inputs/media.scss */
div {
  color: blue; } }

@media (max-width: 940px) {
/* line 23, inputs/media.scss */
color: red; }

@media not hello and (world) {
/* line 28, inputs/media.scss */
color: blue;
/* line 30, inputs/media.scss */
pre {
  color: blue; } }
  @media not hello and (world) {
  @media butt {
/* line 34, inputs/media.scss */
color: red;
/* line 36, inputs/media.scss */
div {
color: red; } } }

@media c {
/* line 61, inputs/media.scss */
color: blue; }
/* line 70, inputs/media.scss */
div {
  color: blue; }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
/* line 73, inputs/media.scss */
div .sidebar {
width: 500px; } }
/* line 87, inputs/media.scss */
div {
  position: absolute; }
  @media screen {
/* line 90, inputs/media.scss */
div {
top: 0;
bottom: 8em;
color: red; }
/* line 93, inputs/media.scss */
div p {
margin: 5px; }
/* line 82, inputs/media.scss */
div .success {
color: green; } }
/* line 101, inputs/media.scss */
.button {
  width: 300px;
  height: 100px;
  background: #eee; }
/* line 106, inputs/media.scss */
.button :hover {
  background: #aaa; }

@media only screen and (max-width: 300px) {
/* line 110, inputs/media.scss */
.button {
  width: 100px;
  height: 100px; } }
/* line 116, inputs/media.scss */
code {
  position: absolute; }

@media screen {
/* line 118, inputs/media.scss */
code {
  height: 10px; }
/* line 119, inputs/media.scss */
code pre {
  height: 20px; } }
/* line 126, inputs/media.scss */
@media screen and (color: blue) {
/* line 128, inputs/media.scss */
dt {
  height: 10px; } }

@media screen {
/* line 136, inputs/media.scss */
.screen {
  width: 12px; } }

@media only screen {
/* line 140, inputs/media.scss */
.only-screen {
  height: 11px; } }

@media only screen {
/* line 147, inputs/media.scss */
.only-screen {
  width: 14px; } }

@media only screen {
/* line 151, inputs/media.scss */
.only-screen {
  height: 16px; } }

@media print {
/* line 167, inputs/media.scss */
.only-print {
  height: 12px; } }

@media screen {
/* line 175, inputs/media.scss */
.only-print {
  height: 12px; } }

@media not screen {
/* line 191, inputs/media.scss */
.not-screen {
  height: 15px; } }

@media only screen and (color: blue) and (width: 13) {
/* line 208, inputs/media.scss */
.only-screen {
  height: 15px; } }

@media screen and (max-width: 749px) and (max-width: 600px) and (min-width: 361px) {
/* line 217, inputs/media.scss */
.item {
  color: red; } }
/* line 223, inputs/media.scss */

  @media not all and (max-width: 450px) {
    @media not all and (max-width: 690px) and (orientation: portrait) {
  @media (max-width: 1000px) {
/* line 226, inputs/media.scss */
a {
color: red; } } } }
/* line 233, inputs/media.scss */

  @media not all and (max-width: 450px) {
    @media (max-width: 690px) and (orientation: portrait) and (max-width: 1000px) {
/* line 236, inputs/media.scss */
a {
color: red; } } }
/* line 243, inputs/media.scss */

  @media (max-width: 450px) {
    @media not all and (max-width: 690px) and (orientation: portrait) {
  @media not all and (max-width: 1000px) {
/* line 246, inputs/media.scss */
a {
color: red; } } } }
