/* line 1, inputs/selector_functions.scss */
.foo, .bar, .foo2 .bar2, .foo3 > .bar3 {
  content: ".foo";
  content: ".bar";
  content: ".foo2 .bar2";
  content: ".foo3 > .bar3"; }
/* line 8, inputs/selector_functions.scss */
.main aside:hover, .sidebar p {
  content: ".main aside:hover";
  content: ".sidebar p"; }
