
div {
    color: red#{white} blue;
    color: red #{white} blue;
    color: red #{white}blue;
    color: red#{white}blue;
    color: #{umm}#{yeah}#{what};
    color: #{stacked};

    font-size: 10px/#{something}; // gmm
    font-size: 10px / #{something}; // gmm

    test: "what#{"world"}wrong";
    test: "what#{'world'}wrong";
    test: "what#{world}wrong";
    test: "what"#{world}"wrong";
}

