@mixin apply-to-ie6-only {
/* line 3, numbered/content.scss */
* html {
@content;
}
}
@include apply-to-ie6-only {
/* line 8, numbered/content.scss */
#logo {
background-image: url(/logo.gif);
}
}
$color: white;
@mixin colors($color: blue) {
background-color: $color;
@content;
border-color: $color;
}
/* line 20, numbered/content.scss */
.colors {
@include colors { color: $color; }
}
@mixin iphone {
/* line 26, numbered/content.scss */
@media only screen and (max-width: 480px) {
@content;
}
}
@include iphone {
/* line 32, numbered/content.scss */
body { color: red }
}
/* line 36, numbered/content.scss */
#sidebar {
$sidebar-width: 300px;
width: $sidebar-width;
@include iphone {
width: $sidebar-width / 3;
}
}
@mixin respond-to($width) {
/* line 46, numbered/content.scss */
@media only screen and (min-width: $width) { @content; }
}
@include respond-to(40em) {
@for $i from 1 through 2 {
/* line 51, numbered/content.scss */
.grid-#{$i} { width: 100%; }
}
}
@include respond-to(40em) {
$i: 1;
@while $i <= 2 {
/* line 58, numbered/content.scss */
.grid-#{$i} { width: 100%; }
$i: $i + 1;
}
}