/* line 2, numbered/extends.scss */
error, other {
border: 1px #f00;
background-color: #fdd;
}
/* line 7, numbered/extends.scss */
pre, span {
/* line 8, numbered/extends.scss */
seriousError {
@extend error;
font-size: 20px;
}
}
/* line 14, numbered/extends.scss */
hello {
@extend other;
color: green;
/* line 17, numbered/extends.scss */
div {
margin: 10px;
}
}
/* line 22, numbered/extends.scss */
.cool {
color: red;
}
/* line 26, numbered/extends.scss */
.blue {
color: purple;
}
/* line 30, numbered/extends.scss */
.me {
@extend .cool, .blue;
}
/* line 34, numbered/extends.scss */
.hoverlink { @extend a:hover }
/* line 35, numbered/extends.scss */
a:hover { text-decoration: underline }
// partial matching and selector merging:
/* line 40, numbered/extends.scss */
div.hello.world.hmm {
color: blue;
}
/* line 44, numbered/extends.scss */
pre, code  {
/* line 45, numbered/extends.scss */
.okay.span {
@extend .hello;
}
}
// multiple matches per selector
/* line 51, numbered/extends.scss */
.xxxxx .xxxxx .xxxxx {
color: green;
}
/* line 55, numbered/extends.scss */
code {
@extend .xxxxx;
color: red;
}
// chained
/* line 63, numbered/extends.scss */
.alpha {
color: red;
}
/* line 67, numbered/extends.scss */
.beta {
@extend .alpha;
color: white;
}
/* line 72, numbered/extends.scss */
.gama {
@extend .beta;
color: blue;
}
// merging selector sequences
/* line 79, numbered/extends.scss */
#admin .tabbar a {font-weight: bold}
/* line 80, numbered/extends.scss */
#demo .overview .fakelink {@extend a}
/* line 82, numbered/extends.scss */
a1 b1 c1 d1 { color: red; }
/* line 83, numbered/extends.scss */
x1 y1 z1 w1 { @extend a1; }
/* line 85, numbered/extends.scss */
a2 b2 c2 d2 { color: red; }
/* line 86, numbered/extends.scss */
x2 y2 z2 w2 { @extend b2; }
/* line 89, numbered/extends.scss */
a3 b3 c3 d3 { color: red; }
/* line 90, numbered/extends.scss */
x3 y3 z3 w3 { @extend c3; }
/* line 93, numbered/extends.scss */
a4 b4 c4 d4 { color: red; }
/* line 94, numbered/extends.scss */
x4 y4 z4 w4 { @extend d4; }
// removing common prefix
/* line 98, numbered/extends.scss */
#butt .yeah .okay { font-weight: bold }
/* line 99, numbered/extends.scss */
#butt .umm .sure { @extend .okay }
/* line 101, numbered/extends.scss */
a9 b9 s9 t9 v9 { color: red; }
/* line 103, numbered/extends.scss */
a9 b9 x9 y9 z9 {
@extend v9;
}
// extends & media
/* line 109, numbered/extends.scss */
@media print {
/* line 110, numbered/extends.scss */
horse {
color: blue;
}
}
/* line 115, numbered/extends.scss */
man {
color: red;
@extend horse;
}
// result == match
/* line 123, numbered/extends.scss */
wassup {
color: blue;
@extend wassup;
}
/* line 128, numbered/extends.scss */
.foo {
/* line 129, numbered/extends.scss */
.wassup {
@extend .wassup;
color: blue;
}
}
// multi-extend
/* line 137, numbered/extends.scss */
#something {
color: red;
}
/* line 141, numbered/extends.scss */
.x {
@extend #something;
}
/* line 145, numbered/extends.scss */
.y {
@extend #something;
}
// twitter-sass-bootstrap infinite loop
/* line 151, numbered/extends.scss */
.nav-tabs {
/* line 152, numbered/extends.scss */
&.nav-justified {
@extend .nav-justified;
}
}
/* line 156, numbered/extends.scss */
.nav-justified {
text-align: justify;
}
// multi-extend with nesting
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
/* line 166, numbered/extends.scss */
.btn[disabled] {
color: red;
}
/* line 169, numbered/extends.scss */
.edit .actions {
/* line 170, numbered/extends.scss */
button {
float: right;
@extend .btn;
}
}
/* line 175, numbered/extends.scss */
.edit {
/* line 176, numbered/extends.scss */
.new {
/* line 177, numbered/extends.scss */
.actions {
padding: 0;
}
/* line 180, numbered/extends.scss */
.actions button {
@extend .btn;
}
}
}