@function conds($val) {
@if $val {
@return "red";
}
@return "blue";
}
/* line 10, numbered/if.scss */
div {
@if something {
color: blue;
}
}
/* line 16, numbered/if.scss */
pre {
val-1: conds(true);
val-2: conds(false);
val-3: conds(null);
val-4: conds(1);
val-5: conds(0);
}
/* line 25, numbered/if.scss */
span {
@if false {
color: red;
} @else {
color: blue;
}
@if true {
height: 10px;
} @else {
color: 20px;
}
@if false {
height: 10px;
} @elseif false {
color: 20px;
} @else {
width: 20px;
}
}
/* line 47, numbered/if.scss */
div {
@if false {
color: red;
} @else if false {
color: green;
} @else {
color: blue;
}
@if false {
border-color: red;
} @else if true {
border-color: green;
} @else {
border-color: blue;
}
}
// doesn't work in scss, thing loses scope
/* line 67, numbered/if.scss */
del {
@if false {
$thing: yes;
} @else {
$thing: no;
}
thing: $thing;
}