/* line 2, numbered/interpolation.scss */
div {
/* line 3, numbered/interpolation.scss */
color: red#{white} blue;
/* line 4, numbered/interpolation.scss */
color: red #{white} blue;
/* line 5, numbered/interpolation.scss */
color: red #{white}blue;
/* line 6, numbered/interpolation.scss */
color: red#{white}blue;
/* line 7, numbered/interpolation.scss */
color: #{umm}#{yeah}#{what};
/* line 8, numbered/interpolation.scss */
color: #{stacked};
/* line 10, numbered/interpolation.scss */
font-size: 10px/#{something};
/* line 11, numbered/interpolation.scss */
font-size: 10px / #{something};
/* line 13, numbered/interpolation.scss */
test: "what#{"world"}wrong";
/* line 14, numbered/interpolation.scss */
test: "what#{'world'}wrong";
/* line 15, numbered/interpolation.scss */
test: "what#{world}wrong";
/* line 16, numbered/interpolation.scss */
test: "what"#{world}"wrong";
/* line 18, numbered/interpolation.scss */
hi: "what is #{4 + 12} end"
}
// interpolation in selectors
/* line 24, numbered/interpolation.scss */
pre {
$var: cool;
/* line 27, numbered/interpolation.scss */
#{var} {
color: red;
}
/* line 31, numbered/interpolation.scss */
#{var} dad {
color: red;
}
/* line 35, numbered/interpolation.scss */
bed#{var}dad {
color: red;
}
}
/* line 40, numbered/interpolation.scss */
cool {
@for $x from 1 through 5 {
/* line 42, numbered/interpolation.scss */
.thing-#{$x} {
color: red;
}
}
}
/* line 48, numbered/interpolation.scss */
a#{b}c#{d}e {
color: red;
}
/* line 52, numbered/interpolation.scss */
##{hello}, .#{world}{
color: red;
}
/* line 56, numbered/interpolation.scss */
#abc#{hello}yeah, .cool#{world}yes{
color: red;
}
$scope: 2;
/* line 62, numbered/interpolation.scss */
div.element:nth-child(#{$scope}n)
{
display: none;
}
// property interpolation
/* line 69, numbered/interpolation.scss */
div {
$var: hello;
/* line 71, numbered/interpolation.scss */
#{$var}: world;
/* line 72, numbered/interpolation.scss */
cool#{$var}:world;
/* line 73, numbered/interpolation.scss */
#{$var}one:world;
/* line 74, numbered/interpolation.scss */
two#{$var}one:world;
/* line 76, numbered/interpolation.scss */
one#{a + b}two: cool;
/* line 78, numbered/interpolation.scss */
#{hello}: {
/* line 79, numbered/interpolation.scss */
#{world}: red;
/* line 80, numbered/interpolation.scss */
#{mold}: white;
/* line 81, numbered/interpolation.scss */
#{$var}: blue;
}
}