@mixin something {
color: red;
/* line 4, numbered/mixins.scss */
pre {
height: 200px;
}
}
/* line 9, numbered/mixins.scss */
div {
color: blue;
@include something;
}
@mixin something($color) {
color: $color;
/* line 17, numbered/mixins.scss */
div {
height: 20px;
}
}
@mixin cool($a, $b, $c) {
height: $a + $b + $c;
}
/* line 26, numbered/mixins.scss */
span {
@include something(blue);
}
/* line 30, numbered/mixins.scss */
html {
@include cool(10px, 12px, 21px);
}
@mixin hello_world {
height: 20px;
}
/* line 39, numbered/mixins.scss */
del {
@include hello-world;
}
// variable shadowing
$color: white;
@mixin colors($color: blue) {
color: $color;
}
/* line 52, numbered/mixins.scss */
div {
color: $color;
@include colors();
color: $color;
}
@mixin linear-gradient($from, $to, $pos: left top) {
background-image: linear-gradient($pos, $from, $to);
}
/* line 62, numbered/mixins.scss */
div {
@include linear-gradient(red, green);
}
@mixin box-shadow($shadows...) {
-moz-box-shadow: $shadows;
-webkit-box-shadow: $shadows;
box-shadow: $shadows;
}
/* line 72, numbered/mixins.scss */
div {
@include box-shadow(10px 10px 5px #888);
@include box-shadow(inset 10px 10px #888, -10px -10px #f4f4f4);
}
@mixin nested {
@include something(red);
}
/* line 81, numbered/mixins.scss */
div {
/* line 82, numbered/mixins.scss */
p  {
/* line 83, numbered/mixins.scss */
.class {
@include nested;
}
@include nested;
/* line 89, numbered/mixins.scss */
.top {
top: 0;
/* line 92, numbered/mixins.scss */
div {
color: red;
}
}
color: blue;
}
}
// mixin content (http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#mixin-content)
@mixin content-simple {
/* line 103, numbered/mixins.scss */
div.mixin-content-simple {
@content;
}
}
@mixin content-with-arg ( $background ) {
/* line 109, numbered/mixins.scss */
div.mixin-content-with-arg {
background: $background;
@content;
}
}
@include content-simple {
color: red;
}
@include content-with-arg($background: blue) {
color: red;
}
@include content-with-arg($background: purple) {
@include hello_world;
}
@include content-simple {
@include cool(10px, 12px, 21px);
}
@include content-simple {
@include something(orange);
}
@include content-with-arg($background: purple) {
@include cool(10px, 12px, 21px);
}
@include content-with-arg($background: purple) {
@include something(orange);
}
@mixin wallpaper($image, $top: 0, $right: 0, $bottom: 0, $left: 0) {
background: $image;
position: absolute;
top: $top;
right: $right;
bottom: $bottom;
left: $left;
}
@mixin logo($offsets...) {
@include wallpaper(url(/images/logo.png), $offsets...);
}
/* line 156, numbered/mixins.scss */
#please-wait {
@include logo(1em, $left: 4em, $bottom: 3em);
}
@mixin prefixer($property, $value) {
/* line 161, numbered/mixins.scss */
-webkit-#{$property}: $value;
}
@mixin transform($property: none) {
@include prefixer(transform, $property);
}
/* line 168, numbered/mixins.scss */
div.parameter-name-scope {
@include transform(translateX(50px));
}
@mixin keyframes( $name )
{
/* line 174, numbered/mixins.scss */
@-webkit-keyframes $name {
@content;
}
}
@include keyframes( change-color )
{
/* line 181, numbered/mixins.scss */
0% { color: green; }
/* line 182, numbered/mixins.scss */
100% { color: red; }
}