/* line 3, numbered/nesting.scss */
body {
color: red;
}
/* line 8, numbered/nesting.scss */
div {
color: red;
height: yes;
/* line 12, numbered/nesting.scss */
pre {
color: blue;
}
}
div: blue;
/* line 21, numbered/nesting.scss */
div {
/* line 22, numbered/nesting.scss */
font: 10px hello world {
size: 10px;
color: blue;
}
/* line 27, numbered/nesting.scss */
border: {
left: 1px solid blue;
right: 2px dashed green;
}
}
/* line 34, numbered/nesting.scss */
#nested-nesting {
bar: baz;
/* line 36, numbered/nesting.scss */
bang: {
bop: bar;
bip: 1px;
/* line 39, numbered/nesting.scss */
blat: {
baf: bort
}
}
}