$list: null;
/* line 2, numbered/null.scss */
.div {
one: null;
one: null world;
one: NULL world;
one: a null, b;
two: a $list $list, $list, b;
three: $list;
}
$value: null;
/* line 12, numbered/null.scss */
p:before {
/* line 13, numbered/null.scss */
content: "I ate #{$value} pies!";
}
@mixin Rounded($radius1, $direction: null, $radius2: false) {
$corner: null;
@if $direction == TL { $corner: top-left-; }
@if $direction == TR { $corner: top-right-; }
@if $direction == BL { $corner: bottom-left-; }
@if $direction == BR { $corner: bottom-right-; }
@if $radius2 {
/* line 23, numbered/null.scss */
-webkit-border-#{$corner}radius: $radius1 $radius2;
/* line 24, numbered/null.scss */
border-#{$corner}radius: $radius1 $radius2;
} @else {
/* line 26, numbered/null.scss */
-webkit-border-#{$corner}radius: $radius1;
/* line 27, numbered/null.scss */
border-#{$corner}radius: $radius1;
}
}
/* line 31, numbered/null.scss */
.foo {
@include Rounded(10);
}
/* line 35, numbered/null.scss */
.fu {
@include Rounded(20, null);
}
/* line 39, numbered/null.scss */
.bar {
@include Rounded(30, TL);
}