/* line 3, numbered/operators.scss */
body {
color: 1 + 2 + 5;
color: 1 + 2 * 5 + 5;
height: 10px/10px;
color: 10px/2 + 1;
color: (10px/2);
bottom: (4/2px);
top: 1em * (1 * 24px - 0) / 16px;
left: 1 - 2cm;
top: (2cm/12px);
}
/* line 15, numbered/operators.scss */
div {
color: 4 == 3;
color: hello == hello;
color: 4 > 3;
color: 4 < 3;
color: what > 3;
}
/* line 25, numbered/operators.scss */
#units {
test: 1in + 4cm;
test: 12mm + 1;
test: 1 + 3em;
test: 1mm + 1cm;
test: 1cm + 1mm;
}
/* line 33, numbered/operators.scss */
#modulo {
test: 3 % 2;
test: 4cm % 3;
}
/* line 38, numbered/operators.scss */
#colors {
color: red + rgb(1,2,3);
color: red - rgb(1,2,3);
color: rgba(1,2,3, 0.5) * rgba(3,4,5, 0.5);
color: rgba(10,15,20, 0.5) / rgba(2,2,2, 0.5);
color: rgba(1,2,3, 0.5) * 2;
color: rgba(1,2,3, 0.5) / 2;
color: rgba(1,2,3, 0.5) + 2;
color: rgba(1,2,3, 0.5) - 2;
color: blue + 34;
color: #fff == #000;
color: #fff == #fff;
color: #fff != #000;
color: #fff != #fff;
}
/* line 59, numbered/operators.scss */
#preserve {
hello: what -going;
hello: what - going;
}
/* line 64, numbered/operators.scss */
#strings {
hello: what -going;
hello: what +going;
hello: what+going;
hello: what+ going;
hello: what + going;
hello: "what" + going;
hello: going + "what";
hello: "what" + "what";
}
/* line 77, numbered/operators.scss */
#negation {
$num: 100;
a: -$num + 40;
b: 10 -$num;
b: 10 - $num;
}
/* line 84, numbered/operators.scss */
#bools-fail {
and: false and two;
and: one and two;
and: one and false;
or: false or two;
or: one or two;
or: one or false;
}
/* line 94, numbered/operators.scss */
#bools {
and: (false and two);
and: (one and two);
and: (one and false);
or: (false or two);
or: (one or two);
or: (one or false);
}
/* line 105, numbered/operators.scss */
#nots-fail {
not: not true + 2;
not: not false;
not: not 0;
not: not 1;
not: not "";
not: not hello;
}
/* line 114, numbered/operators.scss */
#nots {
not: (not true) + 2;
not: (not false);
not: (not 0);
not: (not 1);
not: (not "");
not: (not hello);
}
/* line 123, numbered/operators.scss */
#string-test {
str: hi == "hi";
str: hi == "no";
str: 'yes' == 'yes';
$var1: "hello";
$var2: hello;
/* line 131, numbered/operators.scss */
str: "#{$var1}" == '#{$var2}';
/* line 133, numbered/operators.scss */
str: xhello#{$var1}x == "x#{$var2}hellox"; // xhellohellofalse
str: unit(10px) == px;
}
/* line 139, numbered/operators.scss */
#special {
cancel-unit: (10px / 10px);
}
// not expecting unary
$form-spacing: 1em;
/* line 146, numbered/operators.scss */
.row .a { margin: 0-$form-spacing / 2; }
/* line 147, numbered/operators.scss */
.row .b { margin: 0- $form-spacing / 2; }
/* line 148, numbered/operators.scss */
.row .c { margin: 0 - $form-spacing / 2; }
/* line 149, numbered/operators.scss */
.row .d { margin: 0 -$form-spacing / 2; }
/* line 150, numbered/operators.scss */
.row .e { margin: 0 (-$form-spacing / 2); }
/* line 152, numbered/operators.scss */
.alt .a { margin: 0-1em / 2; }
/* line 153, numbered/operators.scss */
.alt .b { margin: 0- 1em / 2; }
/* line 154, numbered/operators.scss */
.alt .c { margin: 0 - 1em / 2; }
/* line 155, numbered/operators.scss */
.alt .d { margin: 0 -1em / 2; }
/* line 156, numbered/operators.scss */
.alt .e { margin: 0 (-1em / 2); }
/* line 158, numbered/operators.scss */
.row .f { margin: 0-$form-spacing * 2; }
/* line 159, numbered/operators.scss */
.row .g { margin: 0- $form-spacing * 2; }
/* line 160, numbered/operators.scss */
.row .h { margin: 0 - $form-spacing * 2; }
/* line 161, numbered/operators.scss */
.row .i { margin: 0 -$form-spacing * 2; }
/* line 162, numbered/operators.scss */
.row .j { margin: 0 (-$form-spacing * 2); }
/* line 164, numbered/operators.scss */
.alt .f { margin: 0-1em * 2; }
/* line 165, numbered/operators.scss */
.alt .g { margin: 0- 1em * 2; }
/* line 166, numbered/operators.scss */
.alt .h { margin: 0 - 1em * 2; }
/* line 167, numbered/operators.scss */
.alt .i { margin: 0 -1em * 2; }
/* line 168, numbered/operators.scss */
.alt .j { margin: 0 (-1em * 2); }