/* line 1, numbered/placeholder_selector.scss */
#context a%extreme span {
color: blue;
font-weight: bold;
font-size: 2em;
}
/* line 7, numbered/placeholder_selector.scss */
.notice, .error { @extend %extreme; }
/* line 9, numbered/placeholder_selector.scss */
.hidden %placeholder {
margin: 0;
}
/* line 13, numbered/placeholder_selector.scss */
p {
@extend #context;
padding: 2em;
}
/* line 18, numbered/placeholder_selector.scss */
div { @extend .hidden; }