/* line 1, numbered/scss_css.scss */
[foo~=bar] {
a: b; }
/* line 5, numbered/scss_css.scss */
[foo^=bar] {
a: b; }
/* line 9, numbered/scss_css.scss */
[foo$=bar] {
a: b; }
/* line 13, numbered/scss_css.scss */
[foo*=bar] {
a: b; }
/* line 17, numbered/scss_css.scss */
[foo|=en] {
a: b; }
/* line 21, numbered/scss_css.scss */
foo {
a: 2;
b: 2.3em;
c: 50%;
d: "fraz bran";
e: flanny-blanny-blan;
f: url(http://sass-lang.com);
// g: U+ffa?;
h: #aabbcc; }
/* line 32, numbered/scss_css.scss */
selector {
property: value;
property2: value; }
/* line 37, numbered/scss_css.scss */
sel{p:v}
/* line 39, numbered/scss_css.scss */
.foo {
/* Foo
Bar
Baz */
a: b; }
/* line 46, numbered/scss_css.scss */
.foo {
/* Foo
Bar
Baz */
a: b; }
.foo {/* Foo
Bar */
a: b; }
.foo {/* Foo
Bar
Baz */
a: b; }
/* line 64, numbered/scss_css.scss */
@foo {
/* line 65, numbered/scss_css.scss */
rule {
a: b; }
a: b; }
/* line 71, numbered/scss_css.scss */
@foo {a:b};
/* line 72, numbered/scss_css.scss */
@bar {a:b};
@foo "bar"
/* line 77, numbered/scss_css.scss */
foo {
a: 12px calc(100%/3 - 2*1em - 2*1px);
b: 12px -moz-calc(100%/3 - 2*1em - 2*1px);
b: 12px -webkit-calc(100%/3 - 2*1em - 2*1px);
b: 12px -foobar-calc(100%/3 - 2*1em - 2*1px); }
/* line 84, numbered/scss_css.scss */
foo {bar: baz}
<!--
bar {bar: baz}
-->
baz {bar: baz}
/*
* foo
*/
/* line 94, numbered/scss_css.scss */
bar {baz: bang}
/* line 97, numbered/scss_css.scss */
E, F {
a: b; }
/* line 101, numbered/scss_css.scss */
E F, G H {
a: b; }
/* line 105, numbered/scss_css.scss */
E > F, G > H {
a: b; }
/* This is a CSS comment. */
.one {color: green;} /* Another comment */
/* The following should not be used:
.two {color: red;} */
.three {color: green; /* color: red; */}
/**
.four {color: red;} */
/* line 116, numbered/scss_css.scss */
.five {color: green;}
/**/
/* line 118, numbered/scss_css.scss */
.six {color: green;}
/*********/
/* line 120, numbered/scss_css.scss */
.seven {color: green;}
/* a comment **/
/* line 122, numbered/scss_css.scss */
.eight {color: green;}
/* line 125, numbered/scss_css.scss */
foo {
a: \foo bar;
b: foo\ bar;
c: \2022 \0020;
d: foo\\bar;
e: foo\"\'bar; }
/* line 133, numbered/scss_css.scss */
foo {
a: "\foo bar";
b: "foo\ bar";
c: "\2022 \0020";
d: "foo\\bar";
e: "foo\"'bar"; }
/* line 141, numbered/scss_css.scss */
foo {
_name: val;
*name: val;
:name: val;
.name: val;
#name: val;
name/**/: val;
name/*\**/: val;
name: val; }
@foo    "bar"  ;
/* line 154, numbered/scss_css.scss */
foo {
a: -moz-element(#foo);
b: -webkit-element(#foo);
b: -foobar-element(#foo); }
/* line 160, numbered/scss_css.scss */
@foo {}
/* line 162, numbered/scss_css.scss */
@foo {
}
@foo;
/* line 168, numbered/scss_css.scss */
foo {;;;;
bar: baz;;;;
;;}
/* line 173, numbered/scss_css.scss */
#foo .bar {}
/* line 175, numbered/scss_css.scss */
#foo .bar {
}
/* line 179, numbered/scss_css.scss */
0% {
a: b; }
/* line 183, numbered/scss_css.scss */
60% {
a: b; }
/* line 187, numbered/scss_css.scss */
100% {
a: b; }
/* line 191, numbered/scss_css.scss */
12px {
a: b; }
/* line 195, numbered/scss_css.scss */
"foo" {
a: b; }
/* line 199, numbered/scss_css.scss */
foo {
/* line 200, numbered/scss_css.scss */
a: 12px expression(1 + (3 / Foo.bar("baz" + "bang") + function() {return 12;}) % 12); }
/* line 203, numbered/scss_css.scss */
:foo("bar") {
a: b; }
/* line 207, numbered/scss_css.scss */
:foo(bar) {
a: b; }
/* line 211, numbered/scss_css.scss */
:foo(12px) {
a: b; }
/* line 215, numbered/scss_css.scss */
:foo(+) {
a: b; }
/* line 219, numbered/scss_css.scss */
:foo(-) {
a: b; }
/* line 223, numbered/scss_css.scss */
:foo(+"bar") {
a: b; }
/* line 227, numbered/scss_css.scss */
:foo(-++--baz-"bar"12px) {
a: b; }
/* line 231, numbered/scss_css.scss */
foo {
a: foo-bar(12);
b: -foo-bar-baz(13, 14 15); }
@import "foo.css";
@import 'foo.css';
@import url("foo.css");
@import url('foo.css');
@import url(foo.css);
@import "foo.css" screen;
@import "foo.css" screen, print;
@import "foo.css" screen, print and (foo: 0);
@import "foo.css" screen, only print, screen and (foo: 0);
/* line 254, numbered/scss_css.scss */
foo {
a: foo !important;
b: foo bar !important;
b: foo, bar !important; }
/* line 260, numbered/scss_css.scss */
foo {
a: -moz-bar-baz;
b: foo -o-bar-baz; }
foo {a: /* b; c: */ d}
foo {a /*: b; c */: d}
/* Foo
* Bar */
/* line 275, numbered/scss_css.scss */
.foo {
/* Foo
* Bar */ }
/* line 280, numbered/scss_css.scss */
[foo] {
a: b; }
/* line 284, numbered/scss_css.scss */
[foo="bar"] {
a: b; }
/* line 288, numbered/scss_css.scss */
[foo~="bar"] {
a: b; }
/* line 292, numbered/scss_css.scss */
[foo^="bar"] {
a: b; }
/* line 296, numbered/scss_css.scss */
[foo$="bar"] {
a: b; }
/* line 300, numbered/scss_css.scss */
[foo*="bar"] {
a: b; }
/* line 304, numbered/scss_css.scss */
[foo|="en"] {
a: b; }
/* line 308, numbered/scss_css.scss */
:root {
a: b; }
/* line 312, numbered/scss_css.scss */
:nth-child(n) {
a: b; }
/* line 316, numbered/scss_css.scss */
:nth-last-child(n) {
a: b; }
/* line 320, numbered/scss_css.scss */
:nth-of-type(n) {
a: b; }
/* line 324, numbered/scss_css.scss */
:nth-last-of-type(n) {
a: b; }
/* line 328, numbered/scss_css.scss */
:first-child {
a: b; }
/* line 332, numbered/scss_css.scss */
:last-child {
a: b; }
/* line 336, numbered/scss_css.scss */
:first-of-type {
a: b; }
/* line 340, numbered/scss_css.scss */
:last-of-type {
a: b; }
/* line 344, numbered/scss_css.scss */
:only-child {
a: b; }
/* line 348, numbered/scss_css.scss */
:only-of-type {
a: b; }
/* line 352, numbered/scss_css.scss */
:empty {
a: b; }
/* line 356, numbered/scss_css.scss */
:link {
a: b; }
/* line 360, numbered/scss_css.scss */
:visited {
a: b; }
/* line 364, numbered/scss_css.scss */
:active {
a: b; }
/* line 368, numbered/scss_css.scss */
:hover {
a: b; }
/* line 372, numbered/scss_css.scss */
:focus {
a: b; }
/* line 376, numbered/scss_css.scss */
:target {
a: b; }
/* line 380, numbered/scss_css.scss */
:lang(fr) {
a: b; }
/* line 384, numbered/scss_css.scss */
:enabled {
a: b; }
/* line 388, numbered/scss_css.scss */
:disabled {
a: b; }
/* line 392, numbered/scss_css.scss */
:checked {
a: b; }
/* line 396, numbered/scss_css.scss */
::first-line {
a: b; }
/* line 400, numbered/scss_css.scss */
::first-letter {
a: b; }
/* line 404, numbered/scss_css.scss */
::before {
a: b; }
/* line 408, numbered/scss_css.scss */
::after {
a: b; }
/* line 412, numbered/scss_css.scss */
.warning {
a: b; }
/* line 416, numbered/scss_css.scss */
#myid {
a: b; }
/* line 420, numbered/scss_css.scss */
:not(s) {
a: b; }
/* line 424, numbered/scss_css.scss */
@media all {
/* line 425, numbered/scss_css.scss */
rule1 {
prop: val; }
/* line 428, numbered/scss_css.scss */
rule2 {
prop: val; } }
/* line 432, numbered/scss_css.scss */
@media screen, print {
/* line 433, numbered/scss_css.scss */
rule1 {
prop: val; }
/* line 436, numbered/scss_css.scss */
rule2 {
prop: val; } }
/* line 440, numbered/scss_css.scss */
@media screen and (-webkit-min-device-pixel-ratio:0) {
a: b; }
/* line 444, numbered/scss_css.scss */
@media only screen, print and (foo: 0px) and (bar: flam(12px solid)) {
a: b; }
/* line 448, numbered/scss_css.scss */
:-moz-any(h1, h2, h3) {
a: b; }
/* line 452, numbered/scss_css.scss */
:-moz-any(.foo) {
a: b; }
/* line 456, numbered/scss_css.scss */
:-moz-any(foo bar, .baz > .bang) {
a: b; }
@-moz-document url(http://www.w3.org/),
url-prefix(http://www.w3.org/Style/),
domain(mozilla.org),
/* line 463, numbered/scss_css.scss */
regexp("^https:.*") {
/* line 464, numbered/scss_css.scss */
.foo {a: b}
}
/* line 468, numbered/scss_css.scss */
foo {
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#c0ff3300, endColorstr=#ff000000);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#c0ff3300, endColorstr=#ff000000); }
/* line 473, numbered/scss_css.scss */
foo {
filter: alpha(opacity=20);
filter: alpha(opacity=20, enabled=true);
filter: blaznicate(foo=bar, baz=bang bip, bart=#fa4600); }
/* line 479, numbered/scss_css.scss */
@foo bar {
a: b; }
/* line 482, numbered/scss_css.scss */
@bar baz {
c: d; }
@foo bar;
@bar baz;
/* Foo
* Bar */
/* Baz
* Bang */
/* line 496, numbered/scss_css.scss */
.foo {
/* Foo
* Bar */
/* Baz
* Bang */ }
/* line 503, numbered/scss_css.scss */
.foo {
/* Foo Bar *//* Baz Bang */ }
@namespace "http://www.w3.org/Profiles/xhtml1-strict";
@namespace url(http://www.w3.org/Profiles/xhtml1-strict);
@namespace html url("http://www.w3.org/Profiles/xhtml1-strict");
/* line 513, numbered/scss_css.scss */
[foo|bar=baz] {
a: b; }
/* line 517, numbered/scss_css.scss */
[*|bar=baz] {
a: b; }
/* line 521, numbered/scss_css.scss */
[foo|bar|=baz] {
a: b; }
/* line 525, numbered/scss_css.scss */
foo|E {
a: b; }
/* line 529, numbered/scss_css.scss */
*|E {
a: b; }
/* line 533, numbered/scss_css.scss */
foo|* {
a: b; }
/* line 537, numbered/scss_css.scss */
*|* {
a: b; }
/* line 541, numbered/scss_css.scss */
:not(foo|bar) {
a: b; }
/* line 545, numbered/scss_css.scss */
:not(*|bar) {
a: b; }
/* line 549, numbered/scss_css.scss */
:not(foo|*) {
a: b; }
/* line 553, numbered/scss_css.scss */
:not(*|*) {
a: b; }
/* line 557, numbered/scss_css.scss */
:not(#blah) {
a: b; }
/* line 561, numbered/scss_css.scss */
:not(.blah) {
a: b; }
/* line 565, numbered/scss_css.scss */
:not([foo]) {
a: b; }
/* line 569, numbered/scss_css.scss */
:not([foo^="bar"]) {
a: b; }
/* line 573, numbered/scss_css.scss */
:not([baz|foo~="bar"]) {
a: b; }
/* line 577, numbered/scss_css.scss */
:not(:hover) {
a: b; }
/* line 581, numbered/scss_css.scss */
:not(:nth-child(2n + 3)) {
a: b; }
/* line 585, numbered/scss_css.scss */
:not(:not(#foo)) {
a: b; }
/* line 589, numbered/scss_css.scss */
:not(a#foo.bar) {
a: b; }
/* line 593, numbered/scss_css.scss */
:not(#foo .bar > baz) {
a: b; }
/* line 597, numbered/scss_css.scss */
:not(h1, h2, h3) {
a: b; }
@mixin foo {
a: b; }
/* line 605, numbered/scss_css.scss */
foo {
/* line 606, numbered/scss_css.scss */
a: "bang #{1 +    " bar "} bip"; }
/* line 609, numbered/scss_css.scss */
:nth-child(-n) {
a: b; }
/* line 613, numbered/scss_css.scss */
:nth-child(+n) {
a: b; }
/* line 617, numbered/scss_css.scss */
:nth-child(even) {
a: b; }
/* line 621, numbered/scss_css.scss */
:nth-child(odd) {
a: b; }
/* line 625, numbered/scss_css.scss */
:nth-child(50) {
a: b; }
/* line 629, numbered/scss_css.scss */
:nth-child(-50) {
a: b; }
/* line 633, numbered/scss_css.scss */
:nth-child(+50) {
a: b; }
/* line 637, numbered/scss_css.scss */
:nth-child(2n+3) {
a: b; }
/* line 641, numbered/scss_css.scss */
:nth-child(2n-3) {
a: b; }
/* line 645, numbered/scss_css.scss */
:nth-child(+2n-3) {
a: b; }
/* line 649, numbered/scss_css.scss */
:nth-child(-2n+3) {
a: b; }
/* line 653, numbered/scss_css.scss */
:nth-child(-2n+ 3) {
a: b; }
/* line 657, numbered/scss_css.scss */
:nth-child( 2n + 3 ) {
a: b; }
/* line 661, numbered/scss_css.scss */
foo {
a: foo bar baz;
b: foo, #aabbcc, -12;
c: 1px/2px/-3px;
d: foo bar, baz/bang; }
/* line 668, numbered/scss_css.scss */
@page {
prop1: val;
prop2: val; }
/* line 673, numbered/scss_css.scss */
@page flap {
prop1: val;
prop2: val; }
/* line 678, numbered/scss_css.scss */
@page :first {
prop1: val;
prop2: val; }
/* line 683, numbered/scss_css.scss */
@page flap:first {
prop1: val;
prop2: val; }
/* line 688, numbered/scss_css.scss */
.foo {
/* Foo */
a: b; }
/* line 693, numbered/scss_css.scss */
.foo {
/* Foo
* Bar */a: b; }
/* Foo */
/* line 699, numbered/scss_css.scss */
.foo {
a: b; }
/* Foo
* Bar */.foo {
a: b; }
.foo /* .a #foo */ #bar:baz(/* bang )*/ bip) {
a: b; }
/* line 712, numbered/scss_css.scss */
> E {
a: b; }
/* line 716, numbered/scss_css.scss */
+ E {
a: b; }
/* line 720, numbered/scss_css.scss */
~ E {
a: b; }
/* line 724, numbered/scss_css.scss */
> > E {
a: b; }
/* line 728, numbered/scss_css.scss */
>> E {
a: b; }
/* line 732, numbered/scss_css.scss */
E* {
a: b; }
/* line 736, numbered/scss_css.scss */
E*.foo {
a: b; }
/* line 740, numbered/scss_css.scss */
E*:hover {
a: b; }
E,
/* line 745, numbered/scss_css.scss */
F {
a: b; }
E
/* line 750, numbered/scss_css.scss */
F {
a: b; }
E, F
/* line 755, numbered/scss_css.scss */
G, H {
a: b; }
/* line 759, numbered/scss_css.scss */
body {
/*
//comment here
*/
}
/* line 766, numbered/scss_css.scss */
E>F { a: b;}
/* line 768, numbered/scss_css.scss */
E~F { a: b;}
/* line 770, numbered/scss_css.scss */
E+F { a: b;}
/* line 772, numbered/scss_css.scss */
* {
a: b; }
/* line 776, numbered/scss_css.scss */
E {
a: b; }
/* line 780, numbered/scss_css.scss */
E[foo] {
a: b; }
/* line 784, numbered/scss_css.scss */
E[foo="bar"] {
a: b; }
/* line 788, numbered/scss_css.scss */
E[foo~="bar"] {
a: b; }
/* line 792, numbered/scss_css.scss */
E[foo^="bar"] {
a: b; }
/* line 796, numbered/scss_css.scss */
E[foo$="bar"] {
a: b; }
/* line 800, numbered/scss_css.scss */
E[foo*="bar"] {
a: b; }
/* line 804, numbered/scss_css.scss */
E[foo|="en"] {
a: b; }
/* line 808, numbered/scss_css.scss */
E:root {
a: b; }
/* line 812, numbered/scss_css.scss */
E:nth-child(n) {
a: b; }
/* line 816, numbered/scss_css.scss */
E:nth-last-child(n) {
a: b; }
/* line 820, numbered/scss_css.scss */
E:nth-of-type(n) {
a: b; }
/* line 824, numbered/scss_css.scss */
E:nth-last-of-type(n) {
a: b; }
/* line 828, numbered/scss_css.scss */
E:first-child {
a: b; }
/* line 832, numbered/scss_css.scss */
E:last-child {
a: b; }
/* line 836, numbered/scss_css.scss */
E:first-of-type {
a: b; }
/* line 840, numbered/scss_css.scss */
E:last-of-type {
a: b; }
/* line 844, numbered/scss_css.scss */
E:only-child {
a: b; }
/* line 848, numbered/scss_css.scss */
E:only-of-type {
a: b; }
/* line 852, numbered/scss_css.scss */
E:empty {
a: b; }
/* line 856, numbered/scss_css.scss */
E:link {
a: b; }
/* line 860, numbered/scss_css.scss */
E:visited {
a: b; }
/* line 864, numbered/scss_css.scss */
E:active {
a: b; }
/* line 868, numbered/scss_css.scss */
E:hover {
a: b; }
/* line 872, numbered/scss_css.scss */
E:focus {
a: b; }
/* line 876, numbered/scss_css.scss */
E:target {
a: b; }
/* line 880, numbered/scss_css.scss */
E:lang(fr) {
a: b; }
/* line 884, numbered/scss_css.scss */
E:enabled {
a: b; }
/* line 888, numbered/scss_css.scss */
E:disabled {
a: b; }
/* line 892, numbered/scss_css.scss */
E:checked {
a: b; }
/* line 896, numbered/scss_css.scss */
E::first-line {
a: b; }
/* line 900, numbered/scss_css.scss */
E::first-letter {
a: b; }
/* line 904, numbered/scss_css.scss */
E::before {
a: b; }
/* line 908, numbered/scss_css.scss */
E::after {
a: b; }
/* line 912, numbered/scss_css.scss */
E.warning {
a: b; }
/* line 916, numbered/scss_css.scss */
E#myid {
a: b; }
/* line 920, numbered/scss_css.scss */
E:not(s) {
a: b; }
/* line 924, numbered/scss_css.scss */
E F {
a: b; }
/* line 928, numbered/scss_css.scss */
E > F {
a: b; }
/* line 932, numbered/scss_css.scss */
E + F {
a: b; }
/* line 936, numbered/scss_css.scss */
E ~ F {
a: b; }
/* line 940, numbered/scss_css.scss */
@supports (a: b) and (c: d) or (not (d: e)) and ((not (f: g)) or (not ((h: i) and (j: k)))) {
/* line 941, numbered/scss_css.scss */
.foo {
a: b;
}
}
/* line 947, numbered/scss_css.scss */
@-prefix-supports (a: b) and (c: d) or (not (d: e)) and ((not (f: g)) or (not ((h: i) and (j: k)))) {
/* line 948, numbered/scss_css.scss */
.foo {
a: b;
}
}
/* line 954, numbered/scss_css.scss */
foo {
foo: bar;
#baz: bang;
#bip: bop; }
/* line 960, numbered/scss_css.scss */
foo {
a: -2;
b: -2.3em;
c: -50%;
d: -foo(bar baz); }
/* line 967, numbered/scss_css.scss */
foo {
a: -0.5em;
b: +0.5em;
c: -foo(12px);
d: +foo(12px);
}
@charset "UTF-8";
/* line 977, numbered/scss_css.scss */
foo {
-moz-foo-bar: blat;
-o-flat-blang: wibble; }
/* line 982, numbered/scss_css.scss */
foo {
a: foo();
b: bar baz-bang() bip; }