/* line 1, numbered/selectors.scss */
* { color: blue; }
/* line 2, numbered/selectors.scss */
E { color: blue; }
/* line 4, numbered/selectors.scss */
E:not(:link) { color: blue; }
/* line 5, numbered/selectors.scss */
E:not(:link):not(:visited) { color: blue; }
/* line 6, numbered/selectors.scss */
E:not(:link, :visited) { color: blue; }
/* line 7, numbered/selectors.scss */
E:matches(:hover, :focus) { color: blue; }
/* line 9, numbered/selectors.scss */
E.warning { color: blue; }
/* line 10, numbered/selectors.scss */
E#id { color: blue; }
/* line 11, numbered/selectors.scss */
E[foo] { color: blue; }
/* line 12, numbered/selectors.scss */
E[foo="barbar"] { color: blue; }
/* line 13, numbered/selectors.scss */
E[foo="barbar" i] { color: blue; }
/* line 14, numbered/selectors.scss */
E[foo~="hello#$@%@$#^"] { color: blue; }
/* line 15, numbered/selectors.scss */
E[foo^="color: green;"] { color: blue; }
/* line 16, numbered/selectors.scss */
E[foo$="239023"] { color: blue; }
/* line 17, numbered/selectors.scss */
E[foo*="29302"] { color: blue; }
/* line 18, numbered/selectors.scss */
E[foo|="239032"] { color: blue; }
/* line 20, numbered/selectors.scss */
[foo] { color: blue; }
/* line 21, numbered/selectors.scss */
[foo] .helloWorld { color: blue; }
/* line 22, numbered/selectors.scss */
[foo].helloWorld { color: blue; }
/* line 23, numbered/selectors.scss */
[foo="barbar"] { color: blue; }
/* line 24, numbered/selectors.scss */
[foo~="hello#$@%@$#^"] { color: blue; }
/* line 25, numbered/selectors.scss */
[foo^="color: green;"] { color: blue; }
/* line 26, numbered/selectors.scss */
[foo$="239023"] { color: blue; }
/* line 27, numbered/selectors.scss */
[foo*="29302"] { color: blue; }
/* line 28, numbered/selectors.scss */
[foo|="239032"] { color: blue; }
/* line 30, numbered/selectors.scss */
E:dir(ltr) { color: blue; }
/* line 31, numbered/selectors.scss */
E:lang(en) { color: blue; }
/* line 32, numbered/selectors.scss */
E:lang(en, fr) { color: blue; }
/* line 34, numbered/selectors.scss */
E:any-link { color: blue; }
/* line 35, numbered/selectors.scss */
E:link { color: blue; }
/* line 36, numbered/selectors.scss */
E:visited { color: blue; }
/* line 37, numbered/selectors.scss */
E:local-link { color: blue; }
/* line 38, numbered/selectors.scss */
E:local-link(0) { color: red; }
/* line 39, numbered/selectors.scss */
E:local-link(1) { color: white; }
/* line 40, numbered/selectors.scss */
E:local-link(2) { color: red; }
/* line 41, numbered/selectors.scss */
E:target { color: blue; }
/* line 42, numbered/selectors.scss */
E:scope { color: blue; }
/* line 44, numbered/selectors.scss */
E:current { color: blue; }
/* line 45, numbered/selectors.scss */
E:current(:link) { color: blue; }
/* line 46, numbered/selectors.scss */
E:past { color: blue; }
/* line 47, numbered/selectors.scss */
E:future { color: blue; }
/* line 49, numbered/selectors.scss */
E:active { color: blue; }
/* line 50, numbered/selectors.scss */
E:hover { color: blue; }
/* line 51, numbered/selectors.scss */
E:focus { color: blue; }
/* line 52, numbered/selectors.scss */
E:enabled { color: blue; }
/* line 53, numbered/selectors.scss */
E:disabled { color: blue; }
/* line 54, numbered/selectors.scss */
E:indeterminate { color: blue; }
/* line 55, numbered/selectors.scss */
E:default { color: blue; }
/* line 56, numbered/selectors.scss */
E:in-range { color: blue; }
/* line 57, numbered/selectors.scss */
E:out-of-range { color: blue; }
/* line 58, numbered/selectors.scss */
E:required { color: blue; }
/* line 59, numbered/selectors.scss */
E:optional { color: blue; }
/* line 60, numbered/selectors.scss */
E:read-only { color: blue; }
/* line 61, numbered/selectors.scss */
E:read-write { color: blue; }
/* line 63, numbered/selectors.scss */
E:root { color: blue; }
/* line 64, numbered/selectors.scss */
E:empty { color: blue; }
/* line 65, numbered/selectors.scss */
E:first-child { color: blue; }
/* line 66, numbered/selectors.scss */
E:nth-child(odd) { color: blue; }
/* line 67, numbered/selectors.scss */
E:nth-child(2n+1) { color: blue; }
/* line 68, numbered/selectors.scss */
E:nth-child(5) { color: blue; }
/* line 69, numbered/selectors.scss */
E:last-child { color: blue; }
/* line 70, numbered/selectors.scss */
E:nth-last-child(-n+2) { color: blue; }
/* line 71, numbered/selectors.scss */
E:only-child { color: blue; }
/* line 72, numbered/selectors.scss */
E:first-of-type { color: blue; }
/* line 73, numbered/selectors.scss */
E:nth-of-type(2n) { color: blue; }
/* line 74, numbered/selectors.scss */
E:last-of-type { color: blue; }
/* line 75, numbered/selectors.scss */
E:nth-last-of-type(n) { color: blue; }
/* line 76, numbered/selectors.scss */
E:only-of-type { color: blue; }
/* line 77, numbered/selectors.scss */
E:nth-match(odd) { color: blue; }
/* line 78, numbered/selectors.scss */
E:nth-last-match(odd) { color: blue; }
/* line 80, numbered/selectors.scss */
E:column(n) { color: blue; }
/* line 81, numbered/selectors.scss */
E:nth-column(n) { color: blue; }
/* line 82, numbered/selectors.scss */
E:nth-last-column(n) { color: blue; }
/* line 84, numbered/selectors.scss */
E F { color: blue; }
/* line 85, numbered/selectors.scss */
E > F { color: blue; }
/* line 86, numbered/selectors.scss */
E + F { color: blue; }
/* line 87, numbered/selectors.scss */
E ~ F { color: blue; }
/* line 88, numbered/selectors.scss */
E /foo/ F { color: blue; }
/* line 89, numbered/selectors.scss */
E! > F { color: blue; }
// namespaces
/* line 92, numbered/selectors.scss */
[foo|att=val] { color: blue }
/* line 93, numbered/selectors.scss */
[*|att] { color: yellow }
/* line 94, numbered/selectors.scss */
[|att] { color: green }
/* line 95, numbered/selectors.scss */
[att] { color: green }
// CSS2.1
/* line 98, numbered/selectors.scss */
E::first-line { color: blue; }
/* line 99, numbered/selectors.scss */
E::first-letter { color: blue; }
/* line 100, numbered/selectors.scss */
E::before { color: blue; }
/* line 101, numbered/selectors.scss */
E::after { color: blue; }
// CSS3 UI (at risk)
/* line 104, numbered/selectors.scss */
E::choices { color: blue; }
/* line 105, numbered/selectors.scss */
E::value { color: blue; }
/* line 106, numbered/selectors.scss */
E::repeat-index { color: blue; }
/* line 107, numbered/selectors.scss */
E::repeat-item { color: blue; }
/* line 109, numbered/selectors.scss */
E:first { color: blue; }
/* line 110, numbered/selectors.scss */
E:first-line { color: blue; }
/* line 111, numbered/selectors.scss */
E:first-letter { color: blue; }
/* line 112, numbered/selectors.scss */
E:before{ color: blue; }
/* line 113, numbered/selectors.scss */
E:after { color: blue; }
/* line 114, numbered/selectors.scss */
E:checked { color: blue; }
/* line 115, numbered/selectors.scss */
E:invalid { color: blue; }
/* line 116, numbered/selectors.scss */
E:valid { color: blue; }
/* line 117, numbered/selectors.scss */
E:left { color: blue; }
/* line 118, numbered/selectors.scss */
E:right { color: blue; }
// -moz experimental
/* line 121, numbered/selectors.scss */
E:any(ol) { color: blue; }
/* line 122, numbered/selectors.scss */
E::selection { color: blue; }
// one of these is nested property,
// the other is a css block.
/* line 126, numbered/selectors.scss */
div {
/* line 127, numbered/selectors.scss */
font:something {
size: 30em;
}
/* line 131, numbered/selectors.scss */
font: something {
size: 30em;
}
}
// self selector
/* line 139, numbered/selectors.scss */
.something {
/* line 140, numbered/selectors.scss */
&.world {
color: blue;
}
/* line 144, numbered/selectors.scss */
& .mold {
height: 200px;
}
/* line 148, numbered/selectors.scss */
.dog & {
color: blue;
}
}
/* line 153, numbered/selectors.scss */
.simple {
/* line 154, numbered/selectors.scss */
.dad & .wolf {
color: blue;
}
/* line 158, numbered/selectors.scss */
.rad&.bad {
color: blue;
}
}
/* line 164, numbered/selectors.scss */
div {
/* line 165, numbered/selectors.scss */
.something & .what {
/* line 166, numbered/selectors.scss */
&.world {
color: blue;
}
}
}
/* line 172, numbered/selectors.scss */
div {
/* line 173, numbered/selectors.scss */
&.foo & {
color: blue;
}
}
/* line 178, numbered/selectors.scss */
.main, div {
/* line 179, numbered/selectors.scss */
.message div {
/* line 180, numbered/selectors.scss */
.title {
/* line 181, numbered/selectors.scss */
.nice-fonts & {
font-size: 24px;
}
}
}
}
$name: escape;
/* line 189, numbered/selectors.scss */
.#{$name}\% {
color: red;
}
/* line 193, numbered/selectors.scss */
.escape-plan\% {
color: green;
}