
// what is going on?

/** what the heck **/

/**

Here is a block comment

**/


// this is a comment

// trailing backslash \
/*hello*/div /*yeah*/ { //surew
	border: 1px solid red; // world
	/* another property */
	color: url('http://mage-page.com');
	string: "hello /* this is not a comment */";
	world: "// neither is this";
	string: 'hello /* this is not a comment */' /*what if this is a comment */;
	world: '// neither is this' // hell world;
	;
	what-ever: 100px;
	background: url(/*this is not a comment?*/); // uhh what happens here
}

// begin

.dummy {
    color: blue;
}

/* comment 1 */
a {
    /* comment 2 */
    /* comment 3 */ color: red; /* comment 4 */
    background-color: red; /* comment 5 */
    /* comment 6 */
}
/* comment 7 */

// end
