.foo {
  &:after {
    color: red;
  }
  &:hover:after {
    color: blue;
  }
}

.bar {
  @extend .foo;
  &:before {
    @extend .bar:after;
  }
}

.baz.bar:before {
  @extend .bar:before;
}

a {
  color: #fff;
}

a:link {
  @extend a;
}

a:visited {
  @extend a;
}

a:active {
  @extend a;
}

a:hover {
  @extend a;
}

.nest a.some-class {
  color: #ccc;
}
