
div {
    @each $var in what is this {
        color: $var;
    }

    @each $var in what, is, this {
        font: $var;
    }
}


span {
    $i: 0;
    @while $i <= 10 {
        color: $i;
        $i: $i + 1;
    }
}

pre {
    @for $x from 1 to 5 {
        color: $x;
    }

    @for $x from 1 through 5 {
        height: $x;
    }

    $y: 10;
    @for $x from $y through 3 {
        cool: $x;
    }

}

