
div {
	@each $var in what is this {
		color: $var;
	}

	@each $var in what, is, this {
		font: $var;
	}

	$list: what is this;
	@each $var in $list {
	   background: $var;
	}

	$list: what, is, this;
	@each $var in $list {
		border: $var;
	}

	@each $var in what what, is is, this this {
		background: $var;
	}

	@each $var in (what: what, is: is, this: this) {
		background: $var;
	}

	@each $header, $size, $nonexistent in (h1: 2em, h2: 1.5em, h3: 1.2em) {
 		#{$header} {
 			font-size: $size;
 			border: $nonexistent;
 		}
 	}
}


span {
    $i: 0;
    @while $i <= 10 {
        color: $i;
        $i: $i + 1;
    }
}

pre {
    @for $x from 1 to 5 {
        color: $x;
    }

    @for $x from 1 through 5 {
        height: $x;
    }

    $y: 10;
    @for $x from $y through 3 {
        cool: $x;
    }

}

$j: null;
@while $j {
  .item { width: 2em; }
  $j: false;
}

@function contains($list, $values...) {
  @each $value in $values {
    @if type-of(index($list, $value)) != "number" {
      @return false;
    }
  }
  @return true;
}

@function is-number($value) {
  @return contains("0" "1" "2" "3" "4" "5" "6" "7" "8" "9" 0 1 2 3 4 5 6 7 8 9, $value);
}

div {
  a: is-number('red');
  b: is-number('1');
  c: is-number("3");
  c: is-number(5);
}

body.each {
    @each $x in 1 2 3 4 5 {
        @if $x == 2 or $x == 4 {
            background-color: $x;
            @continue;
        }

        color: $x;

        @if $x == 5 {
            @break;
        }
        @else {
            @continue;
        }

        color: "not reached";
    }
}

body.for {
    @for $x from 1 through 5 {
        @if $x == 2 or $x == 4 {
            background-color: $x;
            @continue;
        }

        color: $x;

        @if $x == 5 {
            @break;
        }
        @else {
            @continue;
        }

        color: "not reached";
    }
}

body.while {
    $x: 0;
    @while $x <= 5 {
        $x: $x+1;

        @if $x == 2 or $x == 4 {
            background-color: $x;
            @continue;
        }

        color: $x;

        @if $x == 5 {
            @break;
        }
        @else {
            @continue;
        }

        color: "not reached";
    }
}
