
// media syntax
@media {
    div { color: blue; }
}
@media what {
    div { color: blue; }
}

@media (cool) {
    div { color: blue; }
}
@media (cool: blue) {
    div { color: blue; }
}

@media hello and (world) and (butt: man) {
    div { color: blue; }
}

$navbarCollapseWidth: 940px;

@media (max-width: $navbarCollapseWidth) {
  color: red;
}

// media bubbling
@media not hello and (world) {
   color: blue;
   pre {
       color: blue;
   }

   @media butt {
       color: red;
       div {
           color: red;
       }
   }
}

@media a, b {
    @media c {
        color: blue;
    }
}

@media a{
    @media b, c {
        color: blue;
    }
}

@media a, b{
    @media c, d {
        color: blue;
    }
}

$media: cree;
$feature: -webkit-min-device-pixel-ratio;
$value: 1.5;

div {
    color: blue;
    @media s#{$media}n and ($feature: $value) {
        .sidebar {
            width: 500px;
        }
    }
}


