
// media syntax
@media {
    div { color: blue; }
}
@media what {
    div { color: blue; }
}

@media (cool) {
    div { color: blue; }
}
@media (cool: blue) {
    div { color: blue; }
}

@media hello and (world) and (butt: man) {
    div { color: blue; }
}

// media bubbling
@media not hello and (world) {
   color: blue;
   pre {
       color: blue;
   }

   @media butt {
       color: red;
       div {
           color: red;
       }
   }
}

@media a, b {
    @media c {
        color: blue;
    }
}

@media a{
    @media b, c {
        color: blue;
    }
}

@media a, b{
    @media c, d {
        color: blue;
    }
}


