

body {
    color: red;
}


div {
    color: red;
    height: yes;

    /*commentary for pre */
    pre {
        color: blue;
    }
}


$color: blue;


div {
    /*commentary for  font: 10px hello world*/
    font: 10px hello world {
        size: 10px;
        color: $color;
    }

    /*commentary for border */
    border: {
        left: 1px solid blue;
        right: 2px dashed green;
    }
}


#nested-nesting {
    bar: baz;
    bang: {
        bop: bar;
        /*commentary for bip*/
        bip: 1px;
        blat: {
            baf: bort
        }
    }
}


