

body {
    color: 1 + 2 + 5;
    color: 1 + 2 * 5 + 5;
    height: 10px/10px;
    color: 10px/2px + 1;
    color: (10px/2px);
}

div {
    color: 4 == 3;
    color: hello == hello;

    color: 4 > 3;
    color: 4 < 3;
    color: what > 3;
}


#units {
    test: 1in + 4cm;

    test: 1mm + 1cm;
    test: 1cm + 1mm;
}


#colors {
    color: red + rgb(1,2,3);
    color: red - rgb(1,2,3);
    color: rgba(1,2,3, 0.5) * rgba(3,4,5, 0.5);
    color: rgba(10,15,20, 0.5) / rgba(2,2,2, 0.5);

    color: rgba(1,2,3, 0.5) * 2;
    color: rgba(1,2,3, 0.5) / 2;
    color: rgba(1,2,3, 0.5) + 2;
    color: rgba(1,2,3, 0.5) - 2;

    color: blue + 34;
}


#preserve {
    hello: what -going;
    hello: what - going;
}

#strings {
    hello: what -going;

    hello: what +going;
    hello: what+going;
    hello: what+ going;
    hello: what + going;

    hello: "what" + going;
    hello: going + "what";
    hello: "what" + "what";
}

#negation {
    $num: 100;
    a: -$num + 40;
    b: 10 -$num;
    b: 10 - $num;
}

#bools-fail {
    and: false and two;
    and: one and two;
    and: one and false;

    or: false or two;
    or: one or two;
    or: one or false;
}

#bools {
    and: (false and two);
    and: (one and two);
    and: (one and false);

    or: (false or two);
    or: (one or two);
    or: (one or false);
}


#nots-fail {
    not: not true + 2;
    not: not false;
    not: not 0;
    not: not 1;
    not: not "";
    not: not hello;
}

#nots {
    not: (not true) + 2;
    not: (not false);
    not: (not 0);
    not: (not 1);
    not: (not "");
    not: (not hello);
}

#string-test {
    str: hi == "hi";
    str: hi == "no";
    str: 'yes' == 'yes';

    $var1: "hello";
    $var2: hello;

    str: "#{$var1}" == '#{$var2}';

    str: xhello#{$var1}x == "x#{$var2}hellox"; // xhellohellofalse

    str: unit(10px) == px;
}

