/* short-hand properties */
div {
    // position / background-size
    background: 0px 0px / 12px;
    background: 25% 75% / cover;
    background: center / 50%;
    background: left / 3em;
    background: right / auto;
    background: top / contain;
    background: 0px 0px, center / 50% auto;
    background: 0px 0px, center / 3em 25%;

    // size / line-height
    font: 0.8em / normal;
    font: 12px / normal;
    font: 80% / normal;
    font: large / 34%;
    font: large / 3.5;
    font: large / 3em;
    font: larger / normal;
    font: 0.8em / 3.5;
    font: 12px / 3em;
    font: 80% / 34%;

    /* size | family */
    font: 2em "Open Sans", sans-serif;

    /* style | size | family */
    font: italic 2em "Open Sans", sans-serif;

    /* style | variant | weight | size/line-height | family */
    font: italic small-caps bolder 16px/3 cursive;

    /* The font used in system dialogs */
    font: message-box;
}
