
#values {
    color: #eee;
    color: #eeeeee;
    height: 20px;
    width: 80%;
    color: "hello world";
    height: url("http://google.com");
    background-image: url(//host/image.png
);
    dads: url(http://leafo.net);
    padding: 10px 10px 10px 10px, 3px 3px 3px;
    textblock: "This is a \
multiline block \
#not { color: #eee;}";
    margin: 4,3,1;
    content: "This is a \
multiline string.";
    border-radius: -1px -1px -1px black;
    grid-template-columns: [avatar] 2fr [body] 6fr;
}

#subtraction {
    lit: 10 -11;
    lit: 10 - 11;
    lit: 10- 11;
    lit: 10-11;

    $num: 100;
    var: 10 -$num;
    var: 10 - $num;
    var: 10- $num;
    var: 10-$num;
}


#special {
  a: 12px expression(1 + (3 / Foo.bar("baz" + "bang") + function() {return 12;}) % 12);
}

#unary {
    b: +0.5em;
    c: -foo(12px);
    d: +foo(12px);
}

#self {
    $self1: #{&};
    $self2: &;
    content:'#{$self2}';
}

@font-face {
    unicode-range: U+26;
    unicode-range: U+0-7F;
    unicode-range: U+0025-00FF;
    unicode-range: U+4??;
    unicode-range: U+0025-00FF, U+4??;
}
