
#values {
    color: #eee;
    color: #eeeeee;
    height: 20px;
    width: 80%;
    color: "hello world";
    height: url("http://google.com");
    dads: url(http://leafo.net);
    padding: 10px 10px 10px 10px, 3px 3px 3px;
    margin: 4,3,1;
}



