
$color: red, two, three;

div {
    height: $color;
}

$a: 1000;

div {
    $a: 2000 !default;
    num: $a;
}

div {
    $b: 2000 !default;
    num: $b;
}

$something_man: 100px;
cool: $something_man;


del {
    $something: blue;

    div {
        $something: red;
        pre {
            color: $something;
        }
    }

    color: $something;
}

