  <div class="header">
    <div class="color">
      <div class="inner">
        <div class="download-area">
          <a href="https://github.com/leafo/scssphp/archive/v{{ site.current_version }}.tar.gz">
            <div class="download-button" id="download-button">
              <div class="top">Download</div>
              <div class="sub">scssphp-{{ site.current_version }}.tar.gz</div>
            </div>
          </a>
        </div>

        <h1><a href="{{ site.baseurl }}">scssphp</a></h1>
      </div>
    </div>

    <div class="nav">
      <div class="inner">
        <div class="social">

          <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-text="scssphp v{{ site.current_version }} - SCSS compiler for PHP" data-url="http://leafo.github.io/scssphp/" data-via="{{ site.twitter_username }}" data-count="horizontal" data-counturl="scssphp">Tweet</a>
          <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @{{ site.twitter_username }}</a>

        </div>

        <a href="{{ site.baseurl }}#installing">Install</a>
        &middot;
        <a href="{{ site.baseurl }}#quickstart">Quickstart</a>
        &middot;
        <a href="{{ site.baseurl }}docs/">Docs</a>
      </div>
    </div>

  </div>
