  <div class="header">
    <div class="color">
      <div class="inner">
        <div class="download-area">
          <a href="{{ site.repo_url }}/archive/v{{ site.current_version }}.tar.gz">
            <div class="download-button" id="download-button">
              <div class="top">Download</div>
              <div class="sub">scssphp-{{ site.current_version }}.tar.gz</div>
            </div>
          </a>
        </div>

        <h1><a href="{{ site.baseurl }}">scssphp</a></h1>
      </div>
    </div>

    <div class="nav">
      <div class="inner">
        <a href="{{ site.baseurl }}#installing">Install</a>
        &middot;
        <a href="{{ site.baseurl }}#quickstart">Quickstart</a>
        &middot;
        <a href="{{ site.baseurl }}docs/">Docs</a>
        &middot;
        <a href="{{ site.baseurl }}community/">Community Guidelines</a>
      </div>
    </div>

  </div>
