div {
  color:#22ea18;
  red:34;
  green:234;
  blue:24;
  color:rgba(1,2,4,0.5);
  a1:1;
  a2:0.5;
  mix:#020304;
}
del {
  color:#79c653;
  color:rgba(121,198,83,0.5);
  hue:100deg;
  sat:50%;
  lig:55%;
}
span {
  light:#7e3d9e;
  dark:#432154;
  sat:#632782;
  desat:#5e3871;
  gray:#545454;
  comp:#48792f;
  inv:#9fd086;
}
body {
  op:0.5;
  opacify:rgba(1,2,3,0.6);
  opacify:rgba(1,2,3,0.6);
  transparentize:rgba(1,2,3,0.4);
  transparentize:rgba(1,2,3,0.4);
  transparentize:rgba(52,130,3,0.9);
}
blockquote {
  color:hello what is going on;
  color:"yeah you know it";
  color:"I do?";
}
div {
  color:250%;
  color:3;
  color:3;
  color:4;
}
