/* line 3, numbered/content.scss */
* html {
  /* line 8, numbered/content.scss */ }
  * html #logo {
    background-image: url(/logo.gif); }
/* line 20, numbered/content.scss */
.colors {
  background-color: blue;
  color: white;
  border-color: blue; }
/* line 26, numbered/content.scss */
@media only screen and (max-width: 480px) {
  /* line 32, numbered/content.scss */
    body {
      color: red; } }
/* line 36, numbered/content.scss */
#sidebar {
  width: 300px;
  /* line 26, numbered/content.scss */ }
  @media only screen and (max-width: 480px) {
  #sidebar {
    width: 100px; } }
/* line 46, numbered/content.scss */
@media only screen and (min-width: 40em) {
  /* line 51, numbered/content.scss */
    .grid-1 {
      width: 100%; }
    .grid-2 {
      width: 100%; } }
/* line 46, numbered/content.scss */
@media only screen and (min-width: 40em) {
  /* line 58, numbered/content.scss */
  /* line 58, numbered/content.scss */
    .grid-1 {
      width: 100%; }
    .grid-2 {
      width: 100%; } }
