.btn, .extend .the-button {
  padding: 1px; }

.btn-lg, .btn-group-lg > .btn, .extend .btn-group-lg > .the-button {
  font-size: 10px; }

.dropup .btn-lg .caret, .dropup .btn-group-lg > .btn .caret, .dropup .extend .btn-group-lg > .the-button .caret, .extend .dropup .btn-group-lg > .the-button .caret {
  border-width: 100px; }

.dropup .btn, .dropup .extend .the-button, .extend .dropup .the-button {
  content: "dropup btn"; }
  .dropup .btn .caret, .dropup .extend .the-button .caret, .extend .dropup .the-button .caret {
    content: "dropup btn caret"; }

.dropup > .btn, .extend .dropup > .the-button {
  content: "dropup > btn"; }
  .dropup > .btn > .caret, .extend .dropup > .the-button > .caret {
    content: "dropup > btn > caret"; }

.dropup + .btn, .extend .dropup + .the-button {
  content: "dropup + btn"; }
  .dropup + .btn + .caret, .extend .dropup + .the-button + .caret {
    content: "dropup + btn + caret"; }

.dropup.btn, .extend .the-button.dropup {
  content: "dropupbtn"; }
  .dropup.btn.caret, .extend .the-button.dropup.caret {
    content: "dropupbtncaret"; }

.nav-bar, header ul {
  background: #eee; }
  .nav-bar > .item, header ul > .item, header ul > li, header ul.nav-bar > li {
    margin: 0 10px; }
