/* line 2, numbered/ie7.scss */
#foo:before {
  content: counter(item,".") ": "; }
/* line 6, numbered/ie7.scss */
#bar:before {
  content: counter(item,"."); }
/* line 10, numbered/ie7.scss */
#fu:before {
  content: counter(item); }
