@import "foo.css";
@import "foo" screen;
@import "http://foo.com/bar";
@import url(foo);

#partial {
    color: blue;
}



div {
  height: 200px;
  color: red; }

pre {
  color: red; }
  pre div {
    height: 200px;
    color: red; }

code div {
  height: 200px;
  color: red; }
  code div {
    height: 200px;
    color: red; }
