div {
  color: redwhite blue;
  color: red white blue;
  color: red whiteblue;
  color: redwhiteblue;
  color: ummyeahwhat;
  color: stacked;
  font-size: 10px/something;
  font-size: 10px / something;
  test: "whatworldwrong";
  test: "whatworldwrong";
  test: "whatworldwrong";
  test: "what"world"wrong";
  hi: "what is 16 end"; }

pre var {
  color: red; }
  pre var dad {
    color: red; }
  pre bedvardad {
    color: red; }

cool .thing-1 {
  color: red; }
  cool .thing-2 {
    color: red; }
  cool .thing-3 {
    color: red; }
  cool .thing-4 {
    color: red; }
  cool .thing-5 {
    color: red; }

abcde {
  color: red; }

#hello, .world {
  color: red; }

#abchelloyeah, .coolworldyes {
  color: red; }

div.element:nth-child(2n) {
  display: none; }

div {
  hello: world;
  coolhello: world;
  helloone: world;
  twohelloone: world;
  oneabtwo: cool;
  hello-world: red;
  hello-mold: white;
  hello-hello: blue; }

body {
  color: 3; }

foo, x, y {
  color: #abc; }

div {
  prop: a, b; }

a.badge {
  text-decoration: none; }

.btn-primary {
  background: yellow; }
  .btn-primary:not(.disabled) {
    border-color: red; }
    .btn-primary:not(.disabled):focus {
      border-width: 3px; }
