div {
  color:redwhite blue;
  color:red white blue;
  color:red whiteblue;
  color:redwhiteblue;
  color:ummyeahwhat;
  color:stacked;
  font-size:10px/something;
  font-size:10px/something;
  test:"whatworldwrong";
  test:"whatworldwrong";
  test:"whatworldwrong";
  test:"what"world"wrong";
  hi:"what is 16 end";
}
