/* line 2, interpolation.scss */
div {
  color: redwhite blue;
  color: red white blue;
  color: red whiteblue;
  color: redwhiteblue;
  color: ummyeahwhat;
  color: stacked;
  font-size: 10px/something;
  font-size: 10px / something;
  test: "whatworldwrong";
  test: "whatworldwrong";
  test: "whatworldwrong";
  test: "what"world"wrong";
  hi: "what is 16 end"; }

/* line 3, interpolation.scss */

/* line 4, interpolation.scss */

/* line 5, interpolation.scss */

/* line 6, interpolation.scss */

/* line 7, interpolation.scss */

/* line 8, interpolation.scss */

/* line 10, interpolation.scss */

/* line 11, interpolation.scss */

/* line 13, interpolation.scss */

/* line 14, interpolation.scss */

/* line 15, interpolation.scss */

/* line 16, interpolation.scss */

/* line 18, interpolation.scss */
/* line 24, interpolation.scss */
/* line 27, interpolation.scss */
  pre var {
    color: red; }

/* line 31, interpolation.scss */
  pre var dad {
    color: red; }

/* line 35, interpolation.scss */
  pre bedvardad {
    color: red; }
/* line 40, interpolation.scss */
/* line 42, interpolation.scss */
  cool .thing-1 {
    color: red; }
  cool .thing-2 {
    color: red; }
  cool .thing-3 {
    color: red; }
  cool .thing-4 {
    color: red; }
  cool .thing-5 {
    color: red; }
/* line 48, interpolation.scss */
abcde {
  color: red; }
/* line 52, interpolation.scss */
#hello, .world {
  color: red; }
/* line 56, interpolation.scss */
#abchelloyeah, .coolworldyes {
  color: red; }
/* line 62, interpolation.scss */
div.element:nth-child(2n) {
  display: none; }
/* line 69, interpolation.scss */
div {
  hello: world;
  coolhello: world;
  helloone: world;
  twohelloone: world;
  oneabtwo: cool;
  hello-world: red;
  hello-mold: white;
  hello-hello: blue; }

/* line 71, interpolation.scss */

/* line 72, interpolation.scss */

/* line 73, interpolation.scss */

/* line 74, interpolation.scss */

/* line 76, interpolation.scss */

/* line 78, interpolation.scss */

/* line 79, interpolation.scss */

/* line 80, interpolation.scss */

/* line 81, interpolation.scss */
