div {
  padding: 10px 20px 30px 40px;
  margin: 0 10px 10px 10px;
  background: linear-gradient(black, white); }

p {
  background: linear-gradient(red, blue); }

div {
  x: 2;
  z: 2; }

div {
  a: 10px;
  b: -20px;
  c: 30px; }

div {
  x: space;
  y: comma;
  z: space; }
