div {
  color:what;
  color:is;
  color:this;
  font:what;
  font:is;
  font:this;
}
span {
  color:0;
  color:1;
  color:2;
  color:3;
  color:4;
  color:5;
  color:6;
  color:7;
  color:8;
  color:9;
  color:10;
}
