/* line 3, media.scss */
@media {
  /* line 4, media.scss */
    div {
      color: blue; } }
/* line 6, media.scss */
@media what {
  /* line 7, media.scss */
    div {
      color: blue; } }
/* line 10, media.scss */
@media (cool) {
  /* line 11, media.scss */
    div {
      color: blue; } }
/* line 13, media.scss */
@media (cool: blue) {
  /* line 14, media.scss */
    div {
      color: blue; } }
/* line 17, media.scss */
@media hello and (world) and (butt: man) {
  /* line 18, media.scss */
    div {
      color: blue; } }
/* line 23, media.scss */
@media (max-width: 940px) {
  color: red; }
/* line 28, media.scss */
@media not hello and (world) {
  color: blue;

  /* line 30, media.scss */
    pre {
      color: blue; }

  /* line 34, media.scss */ }
  @media butt and (world) {
    color: red;

    /* line 36, media.scss */
      div {
        color: red; } }
/* line 42, media.scss */
@media a, b {
  /* line 43, media.scss */ }
/* line 48, media.scss */
@media a {
  /* line 49, media.scss */ }
/* line 54, media.scss */
@media a, b {
  /* line 55, media.scss */ }
/* line 64, media.scss */
div {
  color: blue; }

/* line 66, media.scss */
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 67, media.scss */
    div .sidebar {
      width: 500px; } }
/* line 81, media.scss */
div {
  position: absolute; }

/* line 84, media.scss */
  @media screen {
  div {
    top: 0;
    bottom: 8em;
    color: red; }
  /* line 87, media.scss */
    div p {
      margin: 5px; }
  /* line 76, media.scss */
    div .success {
      color: green; } }
/* line 95, media.scss */
.button {
  width: 300px;
  height: 100px;
  background: #eee; }

/* line 100, media.scss */
  .button :hover {
    background: #aaa; }

/* line 104, media.scss */
  @media only screen and (max-width: 300px) {
  .button {
    width: 100px;
    height: 100px; } }
/* line 110, media.scss */
code {
  position: absolute; }

/* line 112, media.scss */
  @media screen {
  code {
    height: 10px; }
  /* line 113, media.scss */
    code pre {
      height: 20px; } }
/* line 120, media.scss */
/* line 121, media.scss */
  @media screen {
  /* line 122, media.scss */ }
    @media screen and (color: blue) {
    dt {
      height: 10px; } }
/* line 129, media.scss */
@media screen {
  /* line 130, media.scss */
    .screen {
      width: 12px; }

  /* line 133, media.scss */ }
  @media only screen {
    /* line 134, media.scss */
      .only-screen {
        height: 11px; } }
/* line 140, media.scss */
@media only screen {
  /* line 141, media.scss */
    .only-screen {
      width: 14px; }

  /* line 144, media.scss */ }
  @media only screen {
    /* line 145, media.scss */
      .only-screen {
        height: 16px; } }
/* line 151, media.scss */
@media not screen {
  /* line 152, media.scss */ }
/* line 159, media.scss */
@media not screen {
  /* line 160, media.scss */ }
  @media print {
    /* line 161, media.scss */
      .only-print {
        height: 12px; } }
/* line 167, media.scss */
@media screen {
  /* line 168, media.scss */ }
  @media screen {
    /* line 169, media.scss */
      .only-print {
        height: 12px; } }
/* line 175, media.scss */
@media not screen {
  /* line 176, media.scss */ }
/* line 183, media.scss */
@media not screen {
  /* line 184, media.scss */ }
  @media not screen {
    /* line 185, media.scss */
      .not-screen {
        height: 15px; } }
/* line 191, media.scss */
@media only screen {
  /* line 192, media.scss */ }
/* line 199, media.scss */
@media only screen {
  /* line 200, media.scss */ }
  @media only screen and (color: blue) {
    /* line 201, media.scss */ }
    @media only screen and (color: blue) and (width: 13) {
      /* line 202, media.scss */
        .only-screen {
          height: 15px; } }
