@media {
  div {
    color: blue; } }

@media what {
  div {
    color: blue; } }

@media (cool) {
  div {
    color: blue; } }

@media (cool: blue) {
  div {
    color: blue; } }

@media hello and (world) and (butt: man) {
  div {
    color: blue; } }

@media (max-width: 940px) {
  color: red; }

@media not hello and (world) {
  color: blue;
    pre {
      color: blue; } }
  @media not hello and (world) and butt {
    color: red;
      div {
        color: red; } }

@media a and c, b and c {
    color: blue; }

@media a and b, a and c {
    color: blue; }

@media a and c, a and d, b and c, b and d {
    color: blue; }

div {
  color: blue; }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  div .sidebar {
    width: 500px; } }

div {
  position: absolute; }
  @media screen {
  div {
    top: 0;
    bottom: 8em;
    color: red; }
    div p {
      margin: 5px; }

    div .success {
      color: green; } }

.button {
  width: 300px;
  height: 100px;
  background: #eee; }
  .button :hover {
    background: #aaa; }
  @media only screen and (max-width: 300px) {
  .button {
    width: 100px;
    height: 100px; } }

code {
  position: absolute; }
  @media screen {
  code {
    height: 10px; }
    code pre {
      height: 20px; } }

@media screen and (color: blue) {
      dt {
        height: 10px; } }
