/* line 3, numbered/media.scss */
@media {
  /* line 4, numbered/media.scss */
    div {
      color: blue; } }
/* line 6, numbered/media.scss */
@media what {
  /* line 7, numbered/media.scss */
    div {
      color: blue; } }
/* line 10, numbered/media.scss */
@media (cool) {
  /* line 11, numbered/media.scss */
    div {
      color: blue; } }
/* line 13, numbered/media.scss */
@media (cool: blue) {
  /* line 14, numbered/media.scss */
    div {
      color: blue; } }
/* line 17, numbered/media.scss */
@media hello and (world) and (butt: man) {
  /* line 18, numbered/media.scss */
    div {
      color: blue; } }
/* line 23, numbered/media.scss */
@media (max-width: 940px) {
  color: red; }
/* line 28, numbered/media.scss */
@media not hello and (world) {
  color: blue;
  /* line 30, numbered/media.scss */
  /* line 34, numbered/media.scss */
    pre {
      color: blue; } }
  @media butt and (world) {
    color: red;
    /* line 36, numbered/media.scss */
      div {
        color: red; } }
/* line 42, numbered/media.scss */
@media a, b {
  /* line 43, numbered/media.scss */ }
/* line 48, numbered/media.scss */
@media a {
  /* line 49, numbered/media.scss */ }
/* line 54, numbered/media.scss */
@media a, b {
  /* line 55, numbered/media.scss */ }
/* line 64, numbered/media.scss */
div {
  color: blue;
  /* line 66, numbered/media.scss */ }
  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  div {
    /* line 67, numbered/media.scss */ }
    div .sidebar {
      width: 500px; } }
/* line 81, numbered/media.scss */
div {
  position: absolute;
  /* line 84, numbered/media.scss */ }
  @media screen {
  div {
    top: 0;
    /* line 87, numbered/media.scss */
    bottom: 8em;
    color: red;
    /* line 76, numbered/media.scss */ }
    div p {
      margin: 5px; }

    div .success {
      color: green; } }
/* line 95, numbered/media.scss */
.button {
  width: 300px;
  height: 100px;
  background: #eee;
  /* line 100, numbered/media.scss */
  /* line 104, numbered/media.scss */ }
  .button :hover {
    background: #aaa; }
  @media only screen and (max-width: 300px) {
  .button {
    width: 100px;
    height: 100px; } }
/* line 110, numbered/media.scss */
code {
  position: absolute;
  /* line 112, numbered/media.scss */ }
  @media screen {
  code {
    /* line 113, numbered/media.scss */
    height: 10px; }
    code pre {
      height: 20px; } }
/* line 120, numbered/media.scss */
dt {
  /* line 121, numbered/media.scss */ }
  @media screen {
  dt {
    /* line 122, numbered/media.scss */ } }
    @media screen and (color: blue) {
    dt {
      height: 10px; } }
/* line 129, numbered/media.scss */
@media screen {
  /* line 130, numbered/media.scss */
  /* line 133, numbered/media.scss */
    .screen {
      width: 12px; } }
  @media only screen {
    /* line 134, numbered/media.scss */
      .only-screen {
        height: 11px; } }
/* line 140, numbered/media.scss */
@media only screen {
  /* line 141, numbered/media.scss */
  /* line 144, numbered/media.scss */
    .only-screen {
      width: 14px; } }
  @media only screen {
    /* line 145, numbered/media.scss */
      .only-screen {
        height: 16px; } }
/* line 151, numbered/media.scss */
@media not screen {
  /* line 152, numbered/media.scss */ }
/* line 159, numbered/media.scss */
@media not screen {
  /* line 160, numbered/media.scss */ }
  @media print {
    /* line 161, numbered/media.scss */
      .only-print {
        height: 12px; } }
/* line 167, numbered/media.scss */
@media screen {
  /* line 168, numbered/media.scss */ }
  @media screen {
    /* line 169, numbered/media.scss */
      .only-print {
        height: 12px; } }
/* line 175, numbered/media.scss */
@media not screen {
  /* line 176, numbered/media.scss */ }
/* line 183, numbered/media.scss */
@media not screen {
  /* line 184, numbered/media.scss */ }
  @media not screen {
    /* line 185, numbered/media.scss */
      .not-screen {
        height: 15px; } }
/* line 191, numbered/media.scss */
@media only screen {
  /* line 192, numbered/media.scss */ }
/* line 199, numbered/media.scss */
@media only screen {
  /* line 200, numbered/media.scss */ }
  @media only screen and (color: blue) {
    /* line 201, numbered/media.scss */ }
    @media only screen and (color: blue) and (width: 13) {
      /* line 202, numbered/media.scss */
        .only-screen {
          height: 15px; } }
