/* line 9, mixins.scss */
div {
  color: blue;
  color: red;
  /* line 4, mixins.scss */ }
  div pre {
    height: 200px; }
/* line 26, mixins.scss */
span {
  color: blue;
  /* line 17, mixins.scss */ }
  span div {
    height: 20px; }
/* line 30, mixins.scss */
html {
  height: 43px; }
/* line 39, mixins.scss */
del {
  height: 20px; }
/* line 52, mixins.scss */
div {
  color: white;
  color: blue;
  color: white; }
/* line 62, mixins.scss */
div {
  background-image: linear-gradient(left top, red, green); }
/* line 72, mixins.scss */
div {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: inset 10px 10px #888, -10px -10px #f4f4f4;
  -webkit-box-shadow: inset 10px 10px #888, -10px -10px #f4f4f4;
  box-shadow: inset 10px 10px #888, -10px -10px #f4f4f4; }
/* line 81, mixins.scss */
div {
  /* line 82, mixins.scss */ }
  div p {
    /* line 83, mixins.scss */
    color: red;
    /* line 17, mixins.scss */
    /* line 89, mixins.scss */
    color: blue; }
    div p .class {
      color: red;
      /* line 17, mixins.scss */ }
      div p .class div {
        height: 20px; }
    div p div {
      height: 20px; }
    div p .top {
      top: 0;
      /* line 92, mixins.scss */ }
      div p .top div {
        color: red; }
/* line 103, mixins.scss */
div.mixin-content-simple {
  color: red; }
/* line 109, mixins.scss */
div.mixin-content-with-arg {
  background: blue;
  color: red; }
/* line 109, mixins.scss */
div.mixin-content-with-arg {
  background: purple;
  height: 20px; }
/* line 103, mixins.scss */
div.mixin-content-simple {
  height: 43px; }
/* line 103, mixins.scss */
div.mixin-content-simple {
  color: orange;
  /* line 17, mixins.scss */ }
  div.mixin-content-simple div {
    height: 20px; }
/* line 109, mixins.scss */
div.mixin-content-with-arg {
  background: purple;
  height: 43px; }
/* line 109, mixins.scss */
div.mixin-content-with-arg {
  background: purple;
  color: orange;
  /* line 17, mixins.scss */ }
  div.mixin-content-with-arg div {
    height: 20px; }
/* line 156, mixins.scss */
#please-wait {
  background: url(/images/logo.png);
  position: absolute;
  top: 1em;
  right: 0;
  bottom: 3em;
  left: 4em; }
/* line 168, mixins.scss */
div.parameter-name-scope {
  /* line 161, mixins.scss */
  -webkit-transform: translateX(50px); }
/* line 174, mixins.scss */
@-webkit-keyframes change-color {
  /* line 181, mixins.scss */
  /* line 182, mixins.scss */
  0% {
    color: green; }

  100% {
    color: red; } }
