div {
  color:blue;
  color:red;
}
div pre { height:200px; }
span {
  color:blue;
  color:;
  color:;
}
span div { height:20px; }
span div { height:20px; }
span div { height:20px; }
html { height:43; }
del { height:20px; }
