/* line 2, null.scss */
.div {
  one: null;
  one: world;
  one: NULL world;
  one: a, b;
  two: a, b; }
/* line 12, null.scss */
p:before {
  content: "I ate  pies!"; }

/* line 13, null.scss */
/* line 31, null.scss */
.foo {
  -webkit-border-radius: 10;
  border-radius: 10; }

/* line 26, null.scss */

/* line 27, null.scss */
/* line 35, null.scss */
.fu {
  -webkit-border-radius: 20;
  border-radius: 20; }

/* line 26, null.scss */

/* line 27, null.scss */
/* line 39, null.scss */
.bar {
  -webkit-border-top-left-radius: 30;
  border-top-left-radius: 30; }

/* line 26, null.scss */

/* line 27, null.scss */
