body {
  color: 8;
  color: 16;
  height: 10px/10px;
  color: 6px;
  color: 5px; }

div {
  color: false;
  color: true;
  color: true;
  color: false;
  color: what > 3; }

#units {
  test: 2.575in;
  test: 11mm;
  test: 1.1cm; }

#colors {
  color: #ff0203;
  color: #fe0000;
  color: rgba(3, 8, 15, 0.5);
  color: rgba(5, 8, 10, 0.5);
  color: rgba(2, 4, 6, 0.5);
  color: rgba(1, 1, 2, 0.5);
  color: rgba(3, 4, 5, 0.5);
  color: rgba(0, 0, 1, 0.5);
  color: #22f; }

#preserve {
  hello: what -going;
  hello: what - going; }

#strings {
  hello: what -going;
  hello: whatgoing;
  hello: whatgoing;
  hello: whatgoing;
  hello: whatgoing;
  hello: "whatgoing";
  hello: goingwhat;
  hello: "whatwhat"; }
