body {
  color: 8;
  color: 16;
  height: 10px/10px;
  color: 6px;
  color: 5px;
  bottom: 2px;
  top: 1.5em;
  left: -1cm;
  top: 6.29921; }

div {
  color: false;
  color: true;
  color: true;
  color: false;
  color: what > 3; }

#units {
  test: 2.5748in;
  test: 13mm;
  test: 4em;
  test: 11mm;
  test: 1.1cm; }

#modulo {
  test: 1;
  test: 1cm; }

#colors {
  color: #ff0203;
  color: #fe0000;
  color: rgba(3, 8, 15, 0.5);
  color: rgba(5, 7, 10, 0.5);
  color: rgba(2, 4, 6, 0.5);
  color: rgba(0, 1, 1, 0.5);
  color: rgba(3, 4, 5, 0.5);
  color: rgba(0, 0, 1, 0.5);
  color: #22f;
  color: false;
  color: true;
  color: true;
  color: false; }

#preserve {
  hello: what -going;
  hello: what - going; }

#strings {
  hello: what -going;
  hello: whatgoing;
  hello: whatgoing;
  hello: whatgoing;
  hello: whatgoing;
  hello: "whatgoing";
  hello: goingwhat;
  hello: "whatwhat"; }

#negation {
  a: -60;
  b: -90;
  b: -90; }

#bools-fail {
  and: false and two;
  and: one and two;
  and: one and false;
  or: false or two;
  or: one or two;
  or: one or false; }

#bools {
  and: false;
  and: two;
  and: false;
  or: two;
  or: one;
  or: one; }

#nots-fail {
  not: false2;
  not: not false;
  not: not 0;
  not: not 1;
  not: not "";
  not: not hello; }

#nots {
  not: false2;
  not: true;
  not: false;
  not: false;
  not: false;
  not: false; }

#string-test {
  str: true;
  str: false;
  str: true;
  str: true;
  str: xhellohellofalse;
  str: true; }

#special {
  cancel-unit: 1; }

.row .a {
  margin: -0.5em; }

.row .b {
  margin: -0.5em; }

.row .c {
  margin: -0.5em; }

.row .d {
  margin: -0.5em; }

.row .e {
  margin: 0 -0.5em; }

.alt .a {
  margin: -0.5em; }

.alt .b {
  margin: -0.5em; }

.alt .c {
  margin: -0.5em; }

.alt .d {
  margin: 0 -0.5em; }

.alt .e {
  margin: 0 -0.5em; }

.row .f {
  margin: -2em; }

.row .g {
  margin: -2em; }

.row .h {
  margin: -2em; }

.row .i {
  margin: -2em; }

.row .j {
  margin: 0 -2em; }

.alt .f {
  margin: -2em; }

.alt .g {
  margin: -2em; }

.alt .h {
  margin: -2em; }

.alt .i {
  margin: 0 -2em; }

.alt .j {
  margin: 0 -2em; }
