/* line 3, operators.scss */
body {
  color: 8;
  color: 16;
  height: 10px/10px;
  color: 6px;
  color: 5px;
  bottom: 2px;
  top: 1.5em;
  left: -1cm;
  top: 6.29921; }
/* line 15, operators.scss */
div {
  color: false;
  color: true;
  color: true;
  color: false;
  color: what > 3; }
/* line 25, operators.scss */
#units {
  test: 2.5748in;
  test: 13mm;
  test: 4em;
  test: 11mm;
  test: 1.1cm; }
/* line 33, operators.scss */
#modulo {
  test: 1;
  test: 1cm; }
/* line 38, operators.scss */
#colors {
  color: #ff0203;
  color: #fe0000;
  color: rgba(3, 8, 15, 0.5);
  color: rgba(5, 7, 10, 0.5);
  color: rgba(2, 4, 6, 0.5);
  color: rgba(0, 1, 1, 0.5);
  color: rgba(3, 4, 5, 0.5);
  color: rgba(0, 0, 1, 0.5);
  color: #22f;
  color: false;
  color: true;
  color: true;
  color: false; }
/* line 59, operators.scss */
#preserve {
  hello: what -going;
  hello: what - going; }
/* line 64, operators.scss */
#strings {
  hello: what -going;
  hello: whatgoing;
  hello: whatgoing;
  hello: whatgoing;
  hello: whatgoing;
  hello: "whatgoing";
  hello: goingwhat;
  hello: "whatwhat"; }
/* line 77, operators.scss */
#negation {
  a: -60;
  b: -90;
  b: -90; }
/* line 84, operators.scss */
#bools-fail {
  and: false and two;
  and: one and two;
  and: one and false;
  or: false or two;
  or: one or two;
  or: one or false; }
/* line 94, operators.scss */
#bools {
  and: false;
  and: two;
  and: false;
  or: two;
  or: one;
  or: one; }
/* line 105, operators.scss */
#nots-fail {
  not: false2;
  not: not false;
  not: not 0;
  not: not 1;
  not: not "";
  not: not hello; }
/* line 114, operators.scss */
#nots {
  not: false2;
  not: true;
  not: false;
  not: false;
  not: false;
  not: false; }
/* line 123, operators.scss */
#string-test {
  str: true;
  str: false;
  str: true;
  /* line 131, operators.scss */
  str: true;
  /* line 133, operators.scss */
  str: xhellohellofalse;
  str: true; }
/* line 139, operators.scss */
#special {
  cancel-unit: 1; }
/* line 146, operators.scss */
.row .a {
  margin: -0.5em; }
/* line 147, operators.scss */
.row .b {
  margin: -0.5em; }
/* line 148, operators.scss */
.row .c {
  margin: -0.5em; }
/* line 149, operators.scss */
.row .d {
  margin: -0.5em; }
/* line 150, operators.scss */
.row .e {
  margin: 0 -0.5em; }
/* line 152, operators.scss */
.alt .a {
  margin: -0.5em; }
/* line 153, operators.scss */
.alt .b {
  margin: -0.5em; }
/* line 154, operators.scss */
.alt .c {
  margin: -0.5em; }
/* line 155, operators.scss */
.alt .d {
  margin: 0 -1em / 2; }
/* line 156, operators.scss */
.alt .e {
  margin: 0 -0.5em; }
/* line 158, operators.scss */
.row .f {
  margin: -2em; }
/* line 159, operators.scss */
.row .g {
  margin: -2em; }
/* line 160, operators.scss */
.row .h {
  margin: -2em; }
/* line 161, operators.scss */
.row .i {
  margin: -2em; }
/* line 162, operators.scss */
.row .j {
  margin: 0 -2em; }
/* line 164, operators.scss */
.alt .f {
  margin: -2em; }
/* line 165, operators.scss */
.alt .g {
  margin: -2em; }
/* line 166, operators.scss */
.alt .h {
  margin: -2em; }
/* line 167, operators.scss */
.alt .i {
  margin: 0 -2em; }
/* line 168, operators.scss */
.alt .j {
  margin: 0 -2em; }
