@import "foo.css";
@import 'foo.css';
@import url("foo.css");
@import url('foo.css');
@import url(foo.css);
@import "foo.css" screen;
@import "foo.css" screen, print;
@charset "UTF-8";
/* line 1, scss_css.scss */
[foo~=bar] {
  a: b; }
/* line 5, scss_css.scss */
[foo^=bar] {
  a: b; }
/* line 9, scss_css.scss */
[foo$=bar] {
  a: b; }
/* line 13, scss_css.scss */
[foo*=bar] {
  a: b; }
/* line 17, scss_css.scss */
[foo|=en] {
  a: b; }
/* line 21, scss_css.scss */
foo {
  a: 2;
  b: 2.3em;
  c: 50%;
  d: "fraz bran";
  e: flanny-blanny-blan;
  f: url(http://sass-lang.com);
  h: #abc; }
/* line 32, scss_css.scss */
selector {
  property: value;
  property2: value; }
/* line 37, scss_css.scss */
sel {
  p: v; }
/* line 39, scss_css.scss */
.foo {
  /* Foo
   Bar
   Baz */
  a: b; }
/* line 46, scss_css.scss */
.foo {
  /* Foo
   Bar
   Baz */
  a: b; }

.foo {
  /* Foo
   Bar */
  a: b; }

.foo {
  /* Foo
   Bar
   Baz */
  a: b; }
/* line 64, scss_css.scss */
@foo {
  /* line 65, scss_css.scss */
  a: b;
  rule {
    a: b; } }
/* line 71, scss_css.scss */
@foo {
  a: b; }

@bar {
  /* line 72, scss_css.scss */
  a: b; }

@foo "bar"
/* line 77, scss_css.scss */
foo {
  a: 12px calc(100%/3 - 2*1em - 2*1px);
  b: 12px -moz-calc(100%/3 - 2*1em - 2*1px);
  b: 12px -webkit-calc(100%/3 - 2*1em - 2*1px);
  b: 12px -foobar-calc(100%/3 - 2*1em - 2*1px); }
/* line 84, scss_css.scss */
foo {
  bar: baz; }

bar {
  bar: baz; }

baz {
  bar: baz; }
/*
 * foo
 */
/* line 94, scss_css.scss */
bar {
  baz: bang; }
/* line 97, scss_css.scss */
E, F {
  a: b; }
/* line 101, scss_css.scss */
E F, G H {
  a: b; }
/* line 105, scss_css.scss */
E > F, G > H {
  a: b; }
/* This is a CSS comment. */
.one {
  color: green; }
/* Another comment */
/* The following should not be used:
 .two {color: red;} */
.three {
  color: green;
  /* color: red; */ }
/**
 .four {color: red;} */
/* line 116, scss_css.scss */
.five {
  color: green; }
/**/
/* line 118, scss_css.scss */
.six {
  color: green; }
/*********/
/* line 120, scss_css.scss */
.seven {
  color: green; }
/* a comment **/
/* line 122, scss_css.scss */
.eight {
  color: green; }
/* line 125, scss_css.scss */
foo {
  a: \foo bar;
  b: foo\ bar;
  c: \2022 \0020;
  d: foo\\bar;
  e: foo\"\'bar; }
/* line 133, scss_css.scss */
foo {
  a: "\foo bar";
  b: "foo\ bar";
  c: "\2022 \0020";
  d: "foo\\bar";
  e: "foo\"'bar"; }
/* line 141, scss_css.scss */
foo {
  _name: val;
  *name: val;
  :name: val;
  .name: val;
  #name: val;
  name/**/: val;
  name/*\**/: val;
  name: val; }

@foo "bar"  ;
/* line 154, scss_css.scss */
foo {
  a: -moz-element(#foo);
  b: -webkit-element(#foo);
  b: -foobar-element(#foo); }
/* line 160, scss_css.scss */
/* line 162, scss_css.scss */

@foo ;
/* line 168, scss_css.scss */
foo {
  bar: baz; }
/* line 173, scss_css.scss */
/* line 175, scss_css.scss */

/* line 179, scss_css.scss */

0% {
  a: b; }
/* line 183, scss_css.scss */
60% {
  a: b; }
/* line 187, scss_css.scss */
100% {
  a: b; }
/* line 191, scss_css.scss */
12px {
  a: b; }
/* line 195, scss_css.scss */
"foo" {
  a: b; }
/* line 199, scss_css.scss */
foo {
  /* line 200, scss_css.scss */
  a: 12px expression(1 + (3 / Foo.bar("baz" + "bang") + function() {return 12;}) % 12); }
/* line 203, scss_css.scss */
:foo("bar") {
  a: b; }
/* line 207, scss_css.scss */
:foo(bar) {
  a: b; }
/* line 211, scss_css.scss */
:foo(12px) {
  a: b; }
/* line 215, scss_css.scss */
:foo(+) {
  a: b; }
/* line 219, scss_css.scss */
:foo(-) {
  a: b; }
/* line 223, scss_css.scss */
:foo(+"bar") {
  a: b; }
/* line 227, scss_css.scss */
:foo(-++--baz-"bar"12px) {
  a: b; }
/* line 231, scss_css.scss */
foo {
  a: foo-bar(12);
  b: -foo-bar-baz(13, 14 15); }

@import "foo.css" screen, print and (foo: 0);
@import "foo.css" screen, only print, screen and (foo: 0);
/* line 254, scss_css.scss */
foo {
  a: foo !important;
  b: foo bar !important;
  b: foo, bar !important; }
/* line 260, scss_css.scss */
foo {
  a: -moz-bar-baz;
  b: foo -o-bar-baz; }

foo {
  a: d;
  /* b; c: */ }

foo {
  a : d;
  /*: b; c */ }
/* Foo
 * Bar */
/* line 275, scss_css.scss */
.foo {
  /* Foo
   * Bar */ }
/* line 280, scss_css.scss */
[foo] {
  a: b; }
/* line 284, scss_css.scss */
[foo="bar"] {
  a: b; }
/* line 288, scss_css.scss */
[foo~="bar"] {
  a: b; }
/* line 292, scss_css.scss */
[foo^="bar"] {
  a: b; }
/* line 296, scss_css.scss */
[foo$="bar"] {
  a: b; }
/* line 300, scss_css.scss */
[foo*="bar"] {
  a: b; }
/* line 304, scss_css.scss */
[foo|="en"] {
  a: b; }
/* line 308, scss_css.scss */
:root {
  a: b; }
/* line 312, scss_css.scss */
:nth-child(n) {
  a: b; }
/* line 316, scss_css.scss */
:nth-last-child(n) {
  a: b; }
/* line 320, scss_css.scss */
:nth-of-type(n) {
  a: b; }
/* line 324, scss_css.scss */
:nth-last-of-type(n) {
  a: b; }
/* line 328, scss_css.scss */
:first-child {
  a: b; }
/* line 332, scss_css.scss */
:last-child {
  a: b; }
/* line 336, scss_css.scss */
:first-of-type {
  a: b; }
/* line 340, scss_css.scss */
:last-of-type {
  a: b; }
/* line 344, scss_css.scss */
:only-child {
  a: b; }
/* line 348, scss_css.scss */
:only-of-type {
  a: b; }
/* line 352, scss_css.scss */
:empty {
  a: b; }
/* line 356, scss_css.scss */
:link {
  a: b; }
/* line 360, scss_css.scss */
:visited {
  a: b; }
/* line 364, scss_css.scss */
:active {
  a: b; }
/* line 368, scss_css.scss */
:hover {
  a: b; }
/* line 372, scss_css.scss */
:focus {
  a: b; }
/* line 376, scss_css.scss */
:target {
  a: b; }
/* line 380, scss_css.scss */
:lang(fr) {
  a: b; }
/* line 384, scss_css.scss */
:enabled {
  a: b; }
/* line 388, scss_css.scss */
:disabled {
  a: b; }
/* line 392, scss_css.scss */
:checked {
  a: b; }
/* line 396, scss_css.scss */
::first-line {
  a: b; }
/* line 400, scss_css.scss */
::first-letter {
  a: b; }
/* line 404, scss_css.scss */
::before {
  a: b; }
/* line 408, scss_css.scss */
::after {
  a: b; }
/* line 412, scss_css.scss */
.warning {
  a: b; }
/* line 416, scss_css.scss */
#myid {
  a: b; }
/* line 420, scss_css.scss */
:not(s) {
  a: b; }
/* line 424, scss_css.scss */
@media all {
  /* line 425, scss_css.scss */
  /* line 428, scss_css.scss */
    rule1 {
      prop: val; }
    rule2 {
      prop: val; } }
/* line 432, scss_css.scss */
@media screen, print {
  /* line 433, scss_css.scss */
  /* line 436, scss_css.scss */
    rule1 {
      prop: val; }
    rule2 {
      prop: val; } }
/* line 440, scss_css.scss */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a: b; }
/* line 444, scss_css.scss */
@media only screen, print and (foo: 0px) and (bar: flam(12px solid)) {
  a: b; }
/* line 448, scss_css.scss */
:-moz-any(h1, h2, h3) {
  a: b; }
/* line 452, scss_css.scss */
:-moz-any(.foo) {
  a: b; }
/* line 456, scss_css.scss */
:-moz-any(foo bar, .baz > .bang) {
  a: b; }

@-moz-document url(http://www.w3.org/),
url-prefix(http://www.w3.org/Style/),
domain(mozilla.org),
/* line 463, scss_css.scss */
regexp("^https:.*") {
  /* line 464, scss_css.scss */
  .foo {
    a: b; } }
/* line 468, scss_css.scss */
foo {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#c0ff3300, endColorstr=#ff000000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#c0ff3300, endColorstr=#ff000000); }
/* line 473, scss_css.scss */
foo {
  filter: alpha(opacity=20);
  filter: alpha(opacity=20, enabled=true);
  filter: blaznicate(foo=bar, baz=bang bip, bart=#fa4600); }
/* line 479, scss_css.scss */
@foo bar {
  a: b; }
/* line 482, scss_css.scss */
@bar baz {
  c: d; }

@foo bar;
@bar baz;
/* Foo
* Bar */
/* Baz
* Bang */
/* line 496, scss_css.scss */
.foo {
  /* Foo
   * Bar */
  /* Baz
   * Bang */ }
/* line 503, scss_css.scss */
.foo {
  /* Foo Bar */
  /* Baz Bang */ }

@namespace "http://www.w3.org/Profiles/xhtml1-strict";
@namespace url(http://www.w3.org/Profiles/xhtml1-strict);
@namespace html url("http://www.w3.org/Profiles/xhtml1-strict");
/* line 513, scss_css.scss */
[foo|bar=baz] {
  a: b; }
/* line 517, scss_css.scss */
[*|bar=baz] {
  a: b; }
/* line 521, scss_css.scss */
[foo|bar|=baz] {
  a: b; }
/* line 525, scss_css.scss */
foo|E {
  a: b; }
/* line 529, scss_css.scss */
*|E {
  a: b; }
/* line 533, scss_css.scss */
foo|* {
  a: b; }
/* line 537, scss_css.scss */
*|* {
  a: b; }
/* line 541, scss_css.scss */
:not(foo|bar) {
  a: b; }
/* line 545, scss_css.scss */
:not(*|bar) {
  a: b; }
/* line 549, scss_css.scss */
:not(foo|*) {
  a: b; }
/* line 553, scss_css.scss */
:not(*|*) {
  a: b; }
/* line 557, scss_css.scss */
:not(#blah) {
  a: b; }
/* line 561, scss_css.scss */
:not(.blah) {
  a: b; }
/* line 565, scss_css.scss */
:not([foo]) {
  a: b; }
/* line 569, scss_css.scss */
:not([foo^="bar"]) {
  a: b; }
/* line 573, scss_css.scss */
:not([baz|foo~="bar"]) {
  a: b; }
/* line 577, scss_css.scss */
:not(:hover) {
  a: b; }
/* line 581, scss_css.scss */
:not(:nth-child(2n + 3)) {
  a: b; }
/* line 585, scss_css.scss */
:not(:not(#foo)) {
  a: b; }
/* line 589, scss_css.scss */
:not(a#foo.bar) {
  a: b; }
/* line 593, scss_css.scss */
:not(#foo .bar > baz) {
  a: b; }
/* line 597, scss_css.scss */
:not(h1, h2, h3) {
  a: b; }
/* line 605, scss_css.scss */
foo {
  /* line 606, scss_css.scss */
  a: "bang 1 bar  bip"; }
/* line 609, scss_css.scss */
:nth-child(-n) {
  a: b; }
/* line 613, scss_css.scss */
:nth-child(+n) {
  a: b; }
/* line 617, scss_css.scss */
:nth-child(even) {
  a: b; }
/* line 621, scss_css.scss */
:nth-child(odd) {
  a: b; }
/* line 625, scss_css.scss */
:nth-child(50) {
  a: b; }
/* line 629, scss_css.scss */
:nth-child(-50) {
  a: b; }
/* line 633, scss_css.scss */
:nth-child(+50) {
  a: b; }
/* line 637, scss_css.scss */
:nth-child(2n+3) {
  a: b; }
/* line 641, scss_css.scss */
:nth-child(2n-3) {
  a: b; }
/* line 645, scss_css.scss */
:nth-child(+2n-3) {
  a: b; }
/* line 649, scss_css.scss */
:nth-child(-2n+3) {
  a: b; }
/* line 653, scss_css.scss */
:nth-child(-2n+ 3) {
  a: b; }
/* line 657, scss_css.scss */
:nth-child( 2n + 3) {
  a: b; }
/* line 661, scss_css.scss */
foo {
  a: foo bar baz;
  b: foo, #abc, -12;
  c: 1px/2px/-3px;
  d: foo bar, baz/bang; }
/* line 668, scss_css.scss */
@page {
  prop1: val;
  prop2: val; }
/* line 673, scss_css.scss */
@page flap {
  prop1: val;
  prop2: val; }
/* line 678, scss_css.scss */
@page :first {
  prop1: val;
  prop2: val; }
/* line 683, scss_css.scss */
@page flap:first {
  prop1: val;
  prop2: val; }
/* line 688, scss_css.scss */
.foo {
  /* Foo */
  a: b; }
/* line 693, scss_css.scss */
.foo {
  /* Foo
   * Bar */
  a: b; }
/* Foo */
/* line 699, scss_css.scss */
.foo {
  a: b; }
/* Foo
 * Bar */
.foo {
  a: b; }

.foo #bar:baz(/* bang )*/ bip) {
  /* .a #foo */
  a: b; }
/* line 712, scss_css.scss */
> E {
  a: b; }
/* line 716, scss_css.scss */
+ E {
  a: b; }
/* line 720, scss_css.scss */
~ E {
  a: b; }
/* line 724, scss_css.scss */
> > E {
  a: b; }
/* line 728, scss_css.scss */
>> E {
  a: b; }
/* line 732, scss_css.scss */
E* {
  a: b; }
/* line 736, scss_css.scss */
E*.foo {
  a: b; }
/* line 740, scss_css.scss */
E*:hover {
  a: b; }

E, F {
  /* line 745, scss_css.scss */
  a: b; }

E F {
  /* line 750, scss_css.scss */
  a: b; }

E, F G, H {
  /* line 755, scss_css.scss */
  a: b; }
/* line 759, scss_css.scss */
body {
  /*
   //comment here
   */ }
/* line 766, scss_css.scss */
E > F {
  a: b; }
/* line 768, scss_css.scss */
E ~ F {
  a: b; }
/* line 770, scss_css.scss */
E + F {
  a: b; }
/* line 772, scss_css.scss */
* {
  a: b; }
/* line 776, scss_css.scss */
E {
  a: b; }
/* line 780, scss_css.scss */
E[foo] {
  a: b; }
/* line 784, scss_css.scss */
E[foo="bar"] {
  a: b; }
/* line 788, scss_css.scss */
E[foo~="bar"] {
  a: b; }
/* line 792, scss_css.scss */
E[foo^="bar"] {
  a: b; }
/* line 796, scss_css.scss */
E[foo$="bar"] {
  a: b; }
/* line 800, scss_css.scss */
E[foo*="bar"] {
  a: b; }
/* line 804, scss_css.scss */
E[foo|="en"] {
  a: b; }
/* line 808, scss_css.scss */
E:root {
  a: b; }
/* line 812, scss_css.scss */
E:nth-child(n) {
  a: b; }
/* line 816, scss_css.scss */
E:nth-last-child(n) {
  a: b; }
/* line 820, scss_css.scss */
E:nth-of-type(n) {
  a: b; }
/* line 824, scss_css.scss */
E:nth-last-of-type(n) {
  a: b; }
/* line 828, scss_css.scss */
E:first-child {
  a: b; }
/* line 832, scss_css.scss */
E:last-child {
  a: b; }
/* line 836, scss_css.scss */
E:first-of-type {
  a: b; }
/* line 840, scss_css.scss */
E:last-of-type {
  a: b; }
/* line 844, scss_css.scss */
E:only-child {
  a: b; }
/* line 848, scss_css.scss */
E:only-of-type {
  a: b; }
/* line 852, scss_css.scss */
E:empty {
  a: b; }
/* line 856, scss_css.scss */
E:link {
  a: b; }
/* line 860, scss_css.scss */
E:visited {
  a: b; }
/* line 864, scss_css.scss */
E:active {
  a: b; }
/* line 868, scss_css.scss */
E:hover {
  a: b; }
/* line 872, scss_css.scss */
E:focus {
  a: b; }
/* line 876, scss_css.scss */
E:target {
  a: b; }
/* line 880, scss_css.scss */
E:lang(fr) {
  a: b; }
/* line 884, scss_css.scss */
E:enabled {
  a: b; }
/* line 888, scss_css.scss */
E:disabled {
  a: b; }
/* line 892, scss_css.scss */
E:checked {
  a: b; }
/* line 896, scss_css.scss */
E::first-line {
  a: b; }
/* line 900, scss_css.scss */
E::first-letter {
  a: b; }
/* line 904, scss_css.scss */
E::before {
  a: b; }
/* line 908, scss_css.scss */
E::after {
  a: b; }
/* line 912, scss_css.scss */
E.warning {
  a: b; }
/* line 916, scss_css.scss */
E#myid {
  a: b; }
/* line 920, scss_css.scss */
E:not(s) {
  a: b; }
/* line 924, scss_css.scss */
E F {
  a: b; }
/* line 928, scss_css.scss */
E > F {
  a: b; }
/* line 932, scss_css.scss */
E + F {
  a: b; }
/* line 936, scss_css.scss */
E ~ F {
  a: b; }
/* line 940, scss_css.scss */
@supports (a: b) and (c: d) or (not (d: e)) and ((not (f: g)) or (not ((h: i) and (j: k)))) {
  /* line 941, scss_css.scss */
  .foo {
    a: b; } }
/* line 947, scss_css.scss */
@-prefix-supports (a: b) and (c: d) or (not (d: e)) and ((not (f: g)) or (not ((h: i) and (j: k)))) {
  /* line 948, scss_css.scss */
  .foo {
    a: b; } }
/* line 954, scss_css.scss */
foo {
  foo: bar;
  #baz: bang;
  #bip: bop; }
/* line 960, scss_css.scss */
foo {
  a: -2;
  b: -2.3em;
  c: -50%;
  d: -foo(bar baz); }
/* line 967, scss_css.scss */
foo {
  a: -0.5em;
  b: 0.5em;
  c: -foo(12px);
  d: +foo(12px); }
/* line 977, scss_css.scss */
foo {
  -moz-foo-bar: blat;
  -o-flat-blang: wibble; }
/* line 982, scss_css.scss */
foo {
  a: foo();
  b: bar baz-bang() bip; }
