/* line 1, selectors.scss */
* {
  color: blue; }
/* line 2, selectors.scss */
E {
  color: blue; }
/* line 4, selectors.scss */
E:not(:link) {
  color: blue; }
/* line 5, selectors.scss */
E:not(:link):not(:visited) {
  color: blue; }
/* line 6, selectors.scss */
E:not(:link, :visited) {
  color: blue; }
/* line 7, selectors.scss */
E:matches(:hover, :focus) {
  color: blue; }
/* line 9, selectors.scss */
E.warning {
  color: blue; }
/* line 10, selectors.scss */
E#id {
  color: blue; }
/* line 11, selectors.scss */
E[foo] {
  color: blue; }
/* line 12, selectors.scss */
E[foo="barbar"] {
  color: blue; }
/* line 13, selectors.scss */
E[foo="barbar" i] {
  color: blue; }
/* line 14, selectors.scss */
E[foo~="hello#$@%@$#^"] {
  color: blue; }
/* line 15, selectors.scss */
E[foo^="color: green;"] {
  color: blue; }
/* line 16, selectors.scss */
E[foo$="239023"] {
  color: blue; }
/* line 17, selectors.scss */
E[foo*="29302"] {
  color: blue; }
/* line 18, selectors.scss */
E[foo|="239032"] {
  color: blue; }
/* line 20, selectors.scss */
[foo] {
  color: blue; }
/* line 21, selectors.scss */
[foo] .helloWorld {
  color: blue; }
/* line 22, selectors.scss */
[foo].helloWorld {
  color: blue; }
/* line 23, selectors.scss */
[foo="barbar"] {
  color: blue; }
/* line 24, selectors.scss */
[foo~="hello#$@%@$#^"] {
  color: blue; }
/* line 25, selectors.scss */
[foo^="color: green;"] {
  color: blue; }
/* line 26, selectors.scss */
[foo$="239023"] {
  color: blue; }
/* line 27, selectors.scss */
[foo*="29302"] {
  color: blue; }
/* line 28, selectors.scss */
[foo|="239032"] {
  color: blue; }
/* line 30, selectors.scss */
E:dir(ltr) {
  color: blue; }
/* line 31, selectors.scss */
E:lang(en) {
  color: blue; }
/* line 32, selectors.scss */
E:lang(en, fr) {
  color: blue; }
/* line 34, selectors.scss */
E:any-link {
  color: blue; }
/* line 35, selectors.scss */
E:link {
  color: blue; }
/* line 36, selectors.scss */
E:visited {
  color: blue; }
/* line 37, selectors.scss */
E:local-link {
  color: blue; }
/* line 38, selectors.scss */
E:local-link(0) {
  color: red; }
/* line 39, selectors.scss */
E:local-link(1) {
  color: white; }
/* line 40, selectors.scss */
E:local-link(2) {
  color: red; }
/* line 41, selectors.scss */
E:target {
  color: blue; }
/* line 42, selectors.scss */
E:scope {
  color: blue; }
/* line 44, selectors.scss */
E:current {
  color: blue; }
/* line 45, selectors.scss */
E:current(:link) {
  color: blue; }
/* line 46, selectors.scss */
E:past {
  color: blue; }
/* line 47, selectors.scss */
E:future {
  color: blue; }
/* line 49, selectors.scss */
E:active {
  color: blue; }
/* line 50, selectors.scss */
E:hover {
  color: blue; }
/* line 51, selectors.scss */
E:focus {
  color: blue; }
/* line 52, selectors.scss */
E:enabled {
  color: blue; }
/* line 53, selectors.scss */
E:disabled {
  color: blue; }
/* line 54, selectors.scss */
E:indeterminate {
  color: blue; }
/* line 55, selectors.scss */
E:default {
  color: blue; }
/* line 56, selectors.scss */
E:in-range {
  color: blue; }
/* line 57, selectors.scss */
E:out-of-range {
  color: blue; }
/* line 58, selectors.scss */
E:required {
  color: blue; }
/* line 59, selectors.scss */
E:optional {
  color: blue; }
/* line 60, selectors.scss */
E:read-only {
  color: blue; }
/* line 61, selectors.scss */
E:read-write {
  color: blue; }
/* line 63, selectors.scss */
E:root {
  color: blue; }
/* line 64, selectors.scss */
E:empty {
  color: blue; }
/* line 65, selectors.scss */
E:first-child {
  color: blue; }
/* line 66, selectors.scss */
E:nth-child(odd) {
  color: blue; }
/* line 67, selectors.scss */
E:nth-child(2n+1) {
  color: blue; }
/* line 68, selectors.scss */
E:nth-child(5) {
  color: blue; }
/* line 69, selectors.scss */
E:last-child {
  color: blue; }
/* line 70, selectors.scss */
E:nth-last-child(-n+2) {
  color: blue; }
/* line 71, selectors.scss */
E:only-child {
  color: blue; }
/* line 72, selectors.scss */
E:first-of-type {
  color: blue; }
/* line 73, selectors.scss */
E:nth-of-type(2n) {
  color: blue; }
/* line 74, selectors.scss */
E:last-of-type {
  color: blue; }
/* line 75, selectors.scss */
E:nth-last-of-type(n) {
  color: blue; }
/* line 76, selectors.scss */
E:only-of-type {
  color: blue; }
/* line 77, selectors.scss */
E:nth-match(odd) {
  color: blue; }
/* line 78, selectors.scss */
E:nth-last-match(odd) {
  color: blue; }
/* line 80, selectors.scss */
E:column(n) {
  color: blue; }
/* line 81, selectors.scss */
E:nth-column(n) {
  color: blue; }
/* line 82, selectors.scss */
E:nth-last-column(n) {
  color: blue; }
/* line 84, selectors.scss */
E F {
  color: blue; }
/* line 85, selectors.scss */
E > F {
  color: blue; }
/* line 86, selectors.scss */
E + F {
  color: blue; }
/* line 87, selectors.scss */
E ~ F {
  color: blue; }
/* line 88, selectors.scss */
E /foo/ F {
  color: blue; }
/* line 89, selectors.scss */
E! > F {
  color: blue; }
/* line 92, selectors.scss */
[foo|att=val] {
  color: blue; }
/* line 93, selectors.scss */
[*|att] {
  color: yellow; }
/* line 94, selectors.scss */
[|att] {
  color: green; }
/* line 95, selectors.scss */
[att] {
  color: green; }
/* line 98, selectors.scss */
E::first-line {
  color: blue; }
/* line 99, selectors.scss */
E::first-letter {
  color: blue; }
/* line 100, selectors.scss */
E::before {
  color: blue; }
/* line 101, selectors.scss */
E::after {
  color: blue; }
/* line 104, selectors.scss */
E::choices {
  color: blue; }
/* line 105, selectors.scss */
E::value {
  color: blue; }
/* line 106, selectors.scss */
E::repeat-index {
  color: blue; }
/* line 107, selectors.scss */
E::repeat-item {
  color: blue; }
/* line 109, selectors.scss */
E:first {
  color: blue; }
/* line 110, selectors.scss */
E:first-line {
  color: blue; }
/* line 111, selectors.scss */
E:first-letter {
  color: blue; }
/* line 112, selectors.scss */
E:before {
  color: blue; }
/* line 113, selectors.scss */
E:after {
  color: blue; }
/* line 114, selectors.scss */
E:checked {
  color: blue; }
/* line 115, selectors.scss */
E:invalid {
  color: blue; }
/* line 116, selectors.scss */
E:valid {
  color: blue; }
/* line 117, selectors.scss */
E:left {
  color: blue; }
/* line 118, selectors.scss */
E:right {
  color: blue; }
/* line 121, selectors.scss */
E:any(ol) {
  color: blue; }
/* line 122, selectors.scss */
E::selection {
  color: blue; }
/* line 126, selectors.scss */
div {
  /* line 127, selectors.scss */
  /* line 131, selectors.scss */
  font: something;
  font-size: 30em; }
  div font:something {
    size: 30em; }
/* line 139, selectors.scss */
.something {
  /* line 140, selectors.scss */
  /* line 144, selectors.scss */
  /* line 148, selectors.scss */ }
  .something.world {
    color: blue; }
  .something .mold {
    height: 200px; }
  .dog .something {
    color: blue; }
/* line 153, selectors.scss */
.simple {
  /* line 154, selectors.scss */
  /* line 158, selectors.scss */ }
  .dad .simple .wolf {
    color: blue; }
  .rad.simple.bad {
    color: blue; }
/* line 164, selectors.scss */
div {
  /* line 165, selectors.scss */ }
  .something div .what {
    /* line 166, selectors.scss */ }
    .something div .what.world {
      color: blue; }
/* line 172, selectors.scss */
div {
  /* line 173, selectors.scss */ }
  div.foo div {
    color: blue; }
/* line 178, selectors.scss */
.main, div {
  /* line 179, selectors.scss */ }
  .main .message div, div .message div {
    /* line 180, selectors.scss */ }
    .main .message div .title, div .message div .title {
      /* line 181, selectors.scss */ }
      .nice-fonts .main .message div .title, .nice-fonts div .message div .title {
        font-size: 24px; }
/* line 189, selectors.scss */
.escape\% {
  color: red; }
/* line 193, selectors.scss */
.escape-plan\% {
  color: green; }
