.foo, .bar, .foo2 .bar2, .foo3 > .bar3 {
  content: ".foo";
  content: ".bar";
  content: ".foo2 .bar2";
  content: ".foo3 > .bar3"; }

.main aside:hover, .sidebar p {
  content: ".main aside:hover";
  content: ".sidebar p"; }

.is-superselector {
  content: false;
  /* false */ }

.is-superselector1 {
  content: true;
  /*true*/ }

.is-superselector2 {
  content: true;
  /*true*/ }

.is-superselector3 {
  content: true;
  /*true*/ }

.is-superselector4 {
  content: false;
  /*false*/ }

.is-superselector5 {
  content: true;
  /* true*/ }

.is-superselector6 {
  content: false;
  /* false*/ }

.is-superselector7 {
  content: true;
  /* true*/ }

.is-superselector8 {
  content: false;
  /* false*/ }

.is-superselector9 {
  content: true;
  /* true*/ }

a.disabled {
  content: 'a.disabled'; }

.accordion__copy {
  content: '.accordion__copy'; }

.accordion__copy, .accordion__image {
  content: '.accordion__copy, .accordion__image'; }

.accordion__copy, .slider__copy, .accordion__image, .slider__image {
  content: '.accordion__copy, .slider__copy, .accordion__image, .slider__image'; }

a.disabled, .link.disabled {
  content: "a.disabled, .link.disabled"; }

a.disabled {
  content: "a.disabled"; }

.guide .info, .guide .content nav.sidebar, .content .guide nav.sidebar {
  content: ".guide .info, .guide .content nav.sidebar, .content .guide nav.sidebar"; }

ul li {
  content: "ul li"; }

.alert p, .warning p {
  content: ".alert p, .warning p"; }

.alert:hover {
  content: ".alert:hover"; }

.accordion__copy {
  content: ".accordion__copy"; }
  .main aside:hover {
    content: ".main";
    content: "aside:hover"; }
  .sidebar p {
    content: ".sidebar";
    content: "p"; }
